In [229]:
import pandas as pd
import numpy as np

company_df = pd.read_csv('EXAM_DATA_COMPANY.csv')
person_df = pd.read_csv('EXAM_DATA_PERSON.csv')
transact_df = pd.read_csv('EXAM_DATA_TRANSACT.csv')

display(company_df.head())
display(person_df.head())
display(transact_df.head())

,address,company,market_cap,industry,state,country,country_code,stock_symbol,time_zone
0,74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
1,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
2,34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai
3,876 Golf Course Junction,"Littel, Rau and Kuhlman",NaN,Department/Specialty Retail Stores,OAX,Mexico,MX,SHLDW,America/Mexico_City
4,913 Ludington Parkway,Becker-Macejkovic,NaN,NaN,NaN,China,CN,FRCF,Asia/Harbin

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR

,bitcoin_address,amount,date,time,time_zone,purchase_app,category,time_offset
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,8:57:58 PM,Europe/Kiev,Veribet,NaN,2.0

In [442]:
company_df.describe(include= []).loc['count']

ADDRESS         200
COMPANY         200
MARKET_CAP      165
INDUSTRY        152
STATE            53
COUNTRY         200
COUNTRY_CODE    200
STOCK_SYMBOL    200
TIME_ZONE       200
Name: count, dtype: object

In [230]:
person_df.head()

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR

In [231]:
pdf = person_df
pdf.dtypes
pdf.dtypes

first_name         object
last_name          object
email              object
gender             object
suffix             object
title              object
address            object
department         object
bitcoin_address    object
company            object
ssn                object
employee_start     object
country_code       object
dtype: object

In [232]:
pdf['last_name'].head()
pdf['first_name'].head()

0       Weber
1     Grethel
2      Wilmar
3    Marrilee
4         Ava
Name: first_name, dtype: object

In [233]:
pdf[['first_name', 'last_name']].head()
pdf[['last_name', 'first_name']].head()

    last_name first_name
0  Massenhove      Weber
1       Boyce    Grethel
2     Duester     Wilmar
3       Burtt   Marrilee
4    Burchett        Ava

In [234]:
pdf[0:2]
pdf[0:3]

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US

In [235]:
pdf[-3:]
pdf[-2:]

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code
998,Sharla,Beggin,sbegginrq@shop-pro.jp,F,NaN,Honorable,8557 Pleasure Park,Business Development,13riqoS73GSScYNiP76DZQjoJ3JgaWu26M,Torp-Schiller,232-45-2522,2021-02-08 19:12:31,US
999,Luigi,Golby,lgolbyrr@freewebs.com,M,NaN,NaN,64 Larry Parkway,Marketing,18UZKGyrA2JxSgjCghfyJgmm2AkzhD5iYZ,Nitzsche-Dickens,841-13-1501,2020-01-08 21:16:56,PH

In [236]:
pdf['new_column'] = pdf['gender'] + ' ' + pdf['last_name']
pdf['new_column2'] = pdf['gender'] + ' ' + pdf['department']
pdf.head()

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column,new_column2
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Massenhove,M Services
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Boyce,F Accounting
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Duester,M Human Resources
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Burtt,F Research and Development
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Burchett,F Services

In [237]:
pdf.drop('new_column', axis = 1).head() #temporary drop
pdf.drop('address', axis = 1).head()

,first_name,last_name,email,gender,suffix,title,department,bitcoin_address,company,ssn,employee_start,country_code,new_column,new_column2
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Massenhove,M Services
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Boyce,F Accounting
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Duester,M Human Resources
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Burtt,F Research and Development
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Burchett,F Services

In [238]:
pdf.head()
pdf = pdf.drop('new_column', axis = 1) #permanent drop

In [239]:
pdf.head()

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column2
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Research and Development
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Services

In [240]:
selectpdf = pdf[['first_name', 'last_name', 'department']]  #making a new dataframe by selecting columns from old one
selectpdf.head()

  first_name   last_name                department
0      Weber  Massenhove                  Services
1    Grethel       Boyce                Accounting
2     Wilmar     Duester           Human Resources
3   Marrilee       Burtt  Research and Development
4        Ava    Burchett                  Services

In [241]:
selectpdf.drop('department', axis = 1, inplace=True) #inplace lets you drop without the need to make dataframe equal to itself
selectpdf.head()

  first_name   last_name
0      Weber  Massenhove
1    Grethel       Boyce
2     Wilmar     Duester
3   Marrilee       Burtt
4        Ava    Burchett

In [242]:
#pd.read_csv??

In [243]:
pdf.head(4) #4 rows selected to be viewed
byeindexdf = pd.read_csv('EXAM_DATA_COMPANY.csv', index_col=0) #gets rid of index and makes first row the index
byeindexdf.head()

,company,market_cap,industry,state,country,country_code,stock_symbol,time_zone
address,,,,,,,,
74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai
876 Golf Course Junction,"Littel, Rau and Kuhlman",NaN,Department/Specialty Retail Stores,OAX,Mexico,MX,SHLDW,America/Mexico_City
913 Ludington Parkway,Becker-Macejkovic,NaN,NaN,NaN,China,CN,FRCF,Asia/Harbin

In [244]:
renamedf = byeindexdf.rename(columns = {'company':' business ', 'market_cap': ' profit '}) #changing columns
renamedf.head()

,business,profit,industry,state,country,country_code,stock_symbol,time_zone
address,,,,,,,,
74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai
876 Golf Course Junction,"Littel, Rau and Kuhlman",NaN,Department/Specialty Retail Stores,OAX,Mexico,MX,SHLDW,America/Mexico_City
913 Ludington Parkway,Becker-Macejkovic,NaN,NaN,NaN,China,CN,FRCF,Asia/Harbin

In [245]:
renamedf.columns #showing the different column titles, helps show if there is random spaces in column titles

Index([' business ', ' profit ', 'industry', 'state', 'country',
       'country_code', 'stock_symbol', 'time_zone'],
      dtype='object')

In [246]:
renamedf = renamedf.rename(mapper=str.strip, axis = 1) #gets rid of white spaces on columns, must make variable equal to itself or you could use inplace equals true
renamedf.columns

Index(['business', 'profit', 'industry', 'state', 'country', 'country_code',
       'stock_symbol', 'time_zone'],
      dtype='object')

In [247]:
cols = list(renamedf.columns) #making list from column names

In [248]:
uppercols = [x.upper().strip() for x in cols] #list comprehension to turn to upper case
uppercols

['BUSINESS',
 'PROFIT',
 'INDUSTRY',
 'STATE',
 'COUNTRY',
 'COUNTRY_CODE',
 'STOCK_SYMBOL',
 'TIME_ZONE']

In [249]:
renamedf.columns = uppercols #placing uppercase words in the dataframe
renamedf.head(3)

,BUSINESS,PROFIT,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
address,,,,,,,,
74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai

In [250]:
type(pdf) #whether pdf is a dataframe or a series

pandas.core.frame.DataFrame

In [251]:
len(pdf) #how many rows including column name row

1000

In [252]:
pdf.tail(2)

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column2
998,Sharla,Beggin,sbegginrq@shop-pro.jp,F,NaN,Honorable,8557 Pleasure Park,Business Development,13riqoS73GSScYNiP76DZQjoJ3JgaWu26M,Torp-Schiller,232-45-2522,2021-02-08 19:12:31,US,F Business Development
999,Luigi,Golby,lgolbyrr@freewebs.com,M,NaN,NaN,64 Larry Parkway,Marketing,18UZKGyrA2JxSgjCghfyJgmm2AkzhD5iYZ,Nitzsche-Dickens,841-13-1501,2020-01-08 21:16:56,PH,M Marketing

In [253]:
person_df
pdf.drop('title', axis  =1)

pdf.where(pdf['department'] == 'Services').dropna()  #drop na
pdf.head()
pdf[pdf['department'] == 'Services'].head() #getting services from department

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column2
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Services
40,Zaria,Valencia,zvalencia14@amazon.de,F,III,Rev,47068 Waxwing Parkway,Services,1PNKiKYeGXFa5BNwBxkJfuhH44fkKvDuf2,Harber Group,830-84-0117,2020-12-24 05:29:55,KH,F Services
73,Maggy,Popplestone,mpopplestone21@about.com,F,NaN,Ms,26651 Swallow Point,Services,15r2VvbH9ZHRmA3QkzLwdcgx3rKbbyRexP,Hackett-Smitham,407-58-8837,2020-06-07 01:57:42,JP,F Services
75,Arlinda,Sabatier,asabatier23@telegraph.co.uk,F,Sr,Ms,9317 Superior Trail,Services,1GwMoGJQgs2M58XYhjHSeTiBSCxuQ92wy2,Dooley-Kessler,448-05-9245,2020-07-28 01:55:16,US,F Services

In [303]:
newpdf = person_df
import re
for row in newpdf['email']:
    pattern = '.+@.+\.com'
    results = re.findall(pattern, row)
    if results:
        #print(results[0])

SyntaxError: unexpected EOF while parsing (<ipython-input-303-9d74a2ae30e6>, line 9)

In [304]:
newpdf.head()

,department,first_name,last_name,email,gender,suffix,title,address,bitcoin_address,company,ssn,employee_start,country_code,new_column,new_column2
0,Services,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Massenhove,M Services
1,Accounting,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Boyce,F Accounting
2,Human Resources,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Duester,M Human Resources
3,Research and Development,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Burtt,F Research and Development
4,Services,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Burchett,F Services

In [305]:
newpdf = newpdf.set_index('department') #setting department to head
newpdf.head()

,first_name,last_name,email,gender,suffix,title,address,bitcoin_address,company,ssn,employee_start,country_code,new_column,new_column2
department,,,,,,,,,,,,,,
Services,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Massenhove,M Services
Accounting,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Boyce,F Accounting
Human Resources,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Duester,M Human Resources
Research and Development,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Burtt,F Research and Development
Services,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Burchett,F Services

In [306]:
newpdf = newpdf.reset_index() #rest index
newpdf.head()

,department,first_name,last_name,email,gender,suffix,title,address,bitcoin_address,company,ssn,employee_start,country_code,new_column,new_column2
0,Services,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Massenhove,M Services
1,Accounting,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Boyce,F Accounting
2,Human Resources,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Duester,M Human Resources
3,Research and Development,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Burtt,F Research and Development
4,Services,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Burchett,F Services

In [307]:

newpdf.head()

,department,first_name,last_name,email,gender,suffix,title,address,bitcoin_address,company,ssn,employee_start,country_code,new_column,new_column2
0,Services,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Massenhove,M Services
1,Accounting,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Boyce,F Accounting
2,Human Resources,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Duester,M Human Resources
3,Research and Development,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Burtt,F Research and Development
4,Services,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Burchett,F Services

In [308]:
indexpdf = pdf
indexpdf.head()

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column2
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Research and Development
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Services

In [309]:
indexpdf = indexpdf.set_index(['first_name', 'last_name']) #making index first name and last name
indexpdf.head()

,,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column2
first_name,last_name,,,,,,,,,,,,
Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services
Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting
Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources
Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Research and Development
Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Services

In [310]:
indexpdf = indexpdf.reset_index() #resetting index
indexpdf.head()

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column2
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Research and Development
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Services

In [311]:
indexpdf[(indexpdf['department'] == 'Services') & (indexpdf['country_code'] == 'ID')] #mask getting those that fit both parameters

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column2
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services
228,Kimble,L'Episcopio,klepiscopio6c@npr.org,M,NaN,Ms,462 Buell Junction,Services,17iHPXi7rtDw4nBHU6HPUWrve8KuJhHiEJ,Donnelly and Sons,521-51-3095,2020-01-20 01:06:10,ID,M Services
399,Eadmund,Champkin,echampkinb3@soundcloud.com,M,II,Dr,3 Ridge Oak Trail,Services,1HYYnZUHaBVFTv5XH6JZwU4mEz1UASUa4N,Breitenberg-Quigley,225-65-8817,2020-01-03 02:00:32,ID,M Services
546,Lance,Carlill,lcarlillf6@liveinternet.ru,M,NaN,Mrs,6 Ludington Circle,Services,15LpZyaJyJcMjF47nEVBKTYVpivHYRR2ii,"Considine, Kshlerin and Monahan",809-66-0226,2020-09-23 21:39:28,ID,M Services
641,Keen,Rotherforth,krotherforthht@loc.gov,M,NaN,Ms,446 Rowland Road,Services,1KAMfA4ypD9gCwDkF7RDUWwdQPcFsN2V9x,"Reilly, Lind and Frami",402-84-5417,2020-06-01 03:50:21,ID,M Services

In [312]:
indexpdf[(indexpdf['gender'] == 'M') & (indexpdf['department'] == 'Accounting')].head(3)

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column2
16,Spense,Parlett,sparlettg@sogou.com,M,NaN,Mrs,97082 Pleasure Pass,Accounting,1CbwEGGHTP4e1cVdfsgiUuaQCjG8xwZ6At,Pouros Group,481-58-4380,2021-02-14 12:15:17,JO,M Accounting
32,Yancey,Ingman,yingmanw@studiopress.com,M,NaN,Ms,6097 Utah Park,Accounting,1QJo9K6X8MnoiNkHPXZX5Ux4SpXL33FThc,Kub Inc,459-79-7753,2021-01-22 10:17:58,US,M Accounting
39,Winston,Obell,wobell13@godaddy.com,M,NaN,Mrs,5 Macpherson Road,Accounting,1NjFSLndbGMQN5vYrJDJuC41J7xUxMFQ6,"DuBuque, Yundt and Spencer",851-91-7592,2020-01-07 21:58:51,CN,M Accounting

In [313]:
indexpdf = indexpdf.set_index(['company', 'department'])
indexpdf.head()

,,first_name,last_name,email,gender,suffix,title,address,bitcoin_address,ssn,employee_start,country_code,new_column2
company,department,,,,,,,,,,,,
"Lehner, Willms and McClure",Services,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,527-63-1710,2021-02-02 03:48:49,ID,M Services
"Boehm, VonRueden and Turner",Accounting,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,696-71-8117,2020-09-17 01:27:03,US,F Accounting
"Harris, Abbott and O'Kon",Human Resources,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,383-85-6348,2020-10-01 01:30:20,US,M Human Resources
Feeney-Gusikowski,Research and Development,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,674-80-7976,2020-12-30 18:25:52,PT,F Research and Development
"Kerluke, Langworth and Spinka",Services,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,676-58-0954,2021-02-01 23:30:49,BR,F Services

In [314]:
indexpdf.loc[("Harris, Abbott and O'Kon", 'Human Resources')] #locking on label from index

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

,,first_name,last_name,email,gender,suffix,title,address,bitcoin_address,ssn,employee_start,country_code,new_column2
company,department,,,,,,,,,,,,
"Harris, Abbott and O'Kon",Human Resources,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,383-85-6348,2020-10-01 01:30:20,US,M Human Resources

In [315]:
indexpdf.iloc[0] #locking on information from first row

first_name                                      Weber
last_name                                  Massenhove
email                          wmassenhove0@about.com
gender                                              M
suffix                                            NaN
title                                              Dr
address                                98557 2nd Pass
bitcoin_address    1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp
ssn                                       527-63-1710
employee_start                    2021-02-02 03:48:49
country_code                                       ID
new_column2                                M Services
Name: (Lehner, Willms and McClure, Services), dtype: object

In [316]:
indexpdf.iloc[0]['first_name'] #locing on information from first row and getting firstname

'Weber'

In [317]:
qpdf = transact_df
qpdf.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,8:57:58 PM,Europe/Kiev,Veribet,NaN,2.0

In [318]:
qpdf['purchase_app'].head()

KeyError: 'purchase_app'

In [319]:
qpdf = qpdf.set_index('bitcoin_address')
qpdf.loc['13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A']

KeyError: "None of ['bitcoin_address'] are in the columns"

In [320]:
locpdf = pdf
locpdf
locpdf = locpdf.set_index(['first_name', 'last_name'])
#locpdf.head()
#type(locpdf.loc[('Annie', 'Janway')])
locpdf.loc['Annie']
#type(locpdf.loc['Annie'])

,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column2
last_name,,,,,,,,,,,,
Musslewhite,amusslewhitebo@bluehost.com,F,NaN,Honorable,1 Clyde Gallagher Drive,Sales,1HMerTzVYZ7Zfg146SEN1yFhGEFoAvYxmm,"Schumm, Deckow and Padberg",315-71-7188,2020-02-04 06:08:51,US,F Sales
Janway,ajanwayn9@plala.or.jp,F,NaN,NaN,38 Holy Cross Pass,Research and Development,1BeuEzkZsEz7WsRKPiiDJFkMvvpt7CyjNo,"Baumbach, Schaden and Robel",809-20-9992,2021-02-10 14:39:56,DO,F Research and Development

In [321]:
locpdf.loc[('Annie', 'Janway'), 'department'] #gets department from series

'Research and Development'

In [322]:
locpdf.loc[('Annie', 'Janway'), ['department']] #series for annie and department

department    Research and Development
Name: (Annie, Janway), dtype: object

In [323]:
locpdf.loc['Annie', 'department'] #series for annie and department

last_name
Musslewhite                       Sales
Janway         Research and Development
Name: department, dtype: object

In [324]:
locpdf.loc['Annie', ['department']] #creates dateframe for annie and department

                           department
last_name
Musslewhite                     Sales
Janway       Research and Development

In [325]:
locpdf.loc['Annie', ['department', 'address']] #dataframe with department and address

                           department                  address
last_name
Musslewhite                     Sales  1 Clyde Gallagher Drive
Janway       Research and Development       38 Holy Cross Pass

In [326]:
ilocdf = company_df
ilocdf.head(3)

,ADDRESS,COMPANY,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
0,74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
1,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
2,34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai

In [327]:
ilocdf.iloc[0 , 2] #row 3 column 2 (index style)

'$3.32B'

In [328]:
ilocdf.iloc[0:2, 1:3] #row 0 and 1 and column 1 and 2

                          COMPANY MARKET_CAP
0                 Botsford-Dooley     $3.32B
1  Buckridge, Conroy and Nitzsche    $93.98M

In [329]:
indexdf = company_df
indexdf.columns

Index(['ADDRESS', 'COMPANY', 'MARKET_CAP', 'INDUSTRY', 'STATE', 'COUNTRY',
       'COUNTRY_CODE', 'STOCK_SYMBOL', 'TIME_ZONE'],
      dtype='object')

In [330]:
indexdf.columns = [x.upper().strip() for x in indexdf.columns] #way easier to just make list comprehension equal to indexdf.columns
indexdf.head()

,ADDRESS,COMPANY,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
0,74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
1,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
2,34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai
3,876 Golf Course Junction,"Littel, Rau and Kuhlman",NaN,Department/Specialty Retail Stores,OAX,Mexico,MX,SHLDW,America/Mexico_City
4,913 Ludington Parkway,Becker-Macejkovic,NaN,NaN,NaN,China,CN,FRCF,Asia/Harbin

In [331]:
indexmask = indexdf[indexdf['INDUSTRY'] == 'Medical/Dental Instruments']
indexmask.head()

,ADDRESS,COMPANY,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
2,34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai
64,50 Grim Court,Crist Inc,$3.34B,Medical/Dental Instruments,16,Netherlands,NL,ICUI,Europe/Amsterdam
106,955 Coleman Trail,"Cartwright, Ledner and Von",$8.33M,Medical/Dental Instruments,MOR,Mexico,MX,DCTH,America/Mexico_City

In [332]:
transact_df.dtypes
#indextransact = transact_df[transact_df['']]

BITCOIN_ADDRESS     object
AMOUNT              object
DATE                object
TIME                object
TIME_ZONE           object
PURCHASE_APP        object
CATEGORY            object
TIME_OFFSET        float64
dtype: object

In [333]:
indextransact = transact_df[transact_df['time_offset'] > 5] #getting times greater than 5
indextransact.head()

KeyError: 'time_offset'

In [334]:
indextransact2 = transact_df.where(transact_df['time_offset'] > 5).dropna() #where is like a mask but instead of only returning what is in the mask, turns everything not in the mask to na after which you drop na
indextransact2.head()

KeyError: 'time_offset'

In [335]:
indextransact3 = transact_df[(transact_df['time_offset'] > 5) & (transact_df['time_offset'] < 7)] #make sure to use paranthesis
indextransact3.head()

KeyError: 'time_offset'

In [336]:
transposedf = transact_df
transposedf.T #turns columns to rows and rows to columns

,0,1,2,3,4,5,6,7,8,9,...,650,651,652,653,654,655,656,657,658,659
BITCOIN_ADDRESS,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,1LEF7hCLDDjRJ4K65h4FnEaYZyepbM7dta,1FGcQ9YhRWH8SKGnxp55PzgmYqKZPC9j9A,1JiCnq4Rr6DpgzuTznZ6Lek8Sbf7mqMkNa,19JHZUhKjRtcWtL91PQiBUq8ABginr3cfY,14A7xJxWgMatvjzpDGBDxKwLkdEimv4T8f,...,1GnesyGWWrk3aR2GijR65Re1UnErECtNDL,1AknKkbcgUpnGULeTsrmDjCeSmNorEhQp2,16EiidiFKefVNK7NeG42S7uL39JKx7yvbu,1Py3qKx3MjeBMi5uVGg4xgnv3XFTrRCoQC,128U1g2PhYQfDHe9DoimGgnXADbkkzFLpv,1Gyf2xz1SAJmtz7H9DVHLfk72arD434SSE,12VrC5atYzdAJjzyZXQ7GxeyxCi56bZw71,1B3TDkUvRXdVmu1Nan35qVKtXuj2rY4Tr7,1JExYVkQH17mjs6y42onSSBTGELymH6GL,1Ep9iBpAqiupY3r81yAKiNpJLg4LN665ML
AMOUNT,"€8605,56","€2019,11","€9984,66","€5709,95",£5149.41,$8248.19,£614.72,NaN,£259.63,$5488.49,...,¥6561.41,£2834.96,"€1057,20",£9299.86,¥3683.45,¥1900.64,"€238,15",¥6550.33,£1379.11,¥102.83
DATE,19-Oct-2020,28-Dec-2020,26-Nov-2020,03-Jun-2020,18-Sep-2020,03-Mar-2021,05-Jun-2020,02-Mar-2021,17-Jul-2020,26-Apr-2020,...,12-Sep-2020,16-Mar-2020,14-Aug-2020,26-Apr-2020,30-Apr-2020,03-Dec-2020,07-Oct-2020,16-Oct-2020,15-Oct-2020,31-Aug-2020
TIME,11:12:56 PM,9:43:06 PM,5:56:19 PM,7:38:22 PM,8:57:58 PM,NaN,10:38:35 PM,4:03:56 AM,8:03:46 AM,8:40:55 PM,...,10:18:14 PM,2:04:34 AM,NaN,9:42:57 AM,4:24:08 AM,7:45:30 AM,11:31:51 AM,12:34:44 AM,NaN,6:10:40 PM
TIME_ZONE,Europe/Warsaw,Asia/Shanghai,Asia/Harbin,Asia/Tehran,Europe/Kiev,Europe/Athens,Europe/Warsaw,Europe/Tallinn,Asia/Tokyo,Asia/Chongqing,...,America/Rio_Branco,Asia/Manila,Asia/Jakarta,America/Los_Angeles,Asia/Chongqing,Africa/Blantyre,Asia/Kuala_Lumpur,Europe/Lisbon,Asia/Chongqing,Europe/Za
PURCHASE_APP,Stim,Treeflex,Konklab,Otcom,Veribet,Zamit,Andalax,Tampflex,Redhold,Mat Lam Tam,...,Sub-Ex,Bamity,Latlux,Sonsing,Asoka,Veribet,Treeflex,Lotlux,Mat Lam Tam,NaN
CATEGORY,Music,NaN,Industrial,Beauty,NaN,Industrial,Games,Garden,NaN,Books,...,Grocery,Shoes,Sports,Home,Health,Beauty,Garden,Industrial,Electronics,NaN
TIME_OFFSET,10,-3,4,-4,2,11,10,11,9,2,...,4,-6,10,-3,2,9,-3,2,2,NaN

In [337]:
multidf = person_df
multidf['department'].unique() #looking at unique names in department

array(['Services', 'Accounting', 'Human Resources',
       'Research and Development', 'Legal', 'Support', 'Training',
       'Sales', 'Engineering', 'Business Development',
       'Product Management', 'Marketing'], dtype=object)

In [338]:
multidf[multidf['department'] == 'Sales'].head(2) #grabbing information when department is sales

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column2
11,Alonso,Fitchen,afitchenb@nba.com,M,NaN,NaN,05 Mandrake Parkway,Sales,1C68HJM7YwumejWCsjeoADN973qxHNUEWH,"Abernathy, Emard and Senger",253-43-8746,2020-05-28 14:34:45,PT,M Sales
46,Hermy,Manus,hmanus1a@tumblr.com,M,NaN,Dr,8 Maryland Pass,Sales,1JgRb8Lex1wnQ3eXZc8LE18XnvNu2LSyLj,Upton Inc,785-08-0371,2020-09-01 12:38:47,US,M Sales

In [339]:
person_df = person_df.drop('new_column', axis = 1)

KeyError: "['new_column'] not found in axis"

In [340]:
multidf2 = person_df.set_index(['department', 'company'])
multidf2.loc[('Sales', 'Upton Inc')] #indexing both department and company

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.

,,first_name,last_name,email,gender,suffix,title,address,bitcoin_address,ssn,employee_start,country_code,new_column2
department,company,,,,,,,,,,,,
Sales,Upton Inc,Hermy,Manus,hmanus1a@tumblr.com,M,NaN,Dr,8 Maryland Pass,1JgRb8Lex1wnQ3eXZc8LE18XnvNu2LSyLj,785-08-0371,2020-09-01 12:38:47,US,M Sales

In [341]:
multidf2.loc[('Sales', 'Upton Inc')]['email'] #getting email

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

department  company
Sales       Upton Inc    hmanus1a@tumblr.com
Name: email, dtype: object

In [342]:
transact_df.columns

Index(['BITCOIN_ADDRESS', 'AMOUNT', 'DATE', 'TIME', 'TIME_ZONE',
       'PURCHASE_APP', 'CATEGORY', 'TIME_OFFSET'],
      dtype='object')

In [343]:
multitrans = transact_df
multitrans
#multitrans = multitrans.set_index('purchase_app')
multitrans.loc['Stim'].sort_values('time_offset', ascending = False) #index label Stim sorting values by time_offset, ascending False making largest to smallest

KeyError: 'Stim'

In [344]:
replacetrans = transact_df
replacetrans.dtypes

def replacer(x):   
    if type(x) == str: #checks to see if x is string
        return x.replace('/', '-') 
    return x
replacetrans[replacetrans['time_zone'].apply(replacer)] #grabbing series from replacetrans

KeyError: 'time_zone'

In [345]:
regpdf = person_df       #not right come back to


def find_ssn(row):
    import re
    pattern = 'd{3}-/d{2}-(/d{4})'
    results = re.findall(pattern, row['ssn'])
    if results:
        return pattern[0]



regpdf['last_four'] = regpdf.apply(find_ssn, axis = 1)
regpdf.head()

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column2,last_four
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services,None
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting,None
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources,None
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Research and Development,None
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Services,None

In [346]:
xyz2 = person_df

xyz2.columns = [x.upper().strip() for x in xyz2.columns]
xyz2
xyz2 = xyz2.rename(columns = {'FIRST_NAME': 'first_name', 'LAST_NAME': 'last_name'})
xyz2.head()

,first_name,last_name,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,SSN,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services,None
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting,None
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources,None
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Research and Development,None
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Services,None

In [347]:
applytransact  = transact_df.reset_index()
applytransact.head()
applytransact = applytransact.drop('index', axis = 1)
applytransact.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,8:57:58 PM,Europe/Kiev,Veribet,NaN,2.0

In [348]:
applytransact['time_offset'].apply(np.average)

KeyError: 'time_offset'

In [349]:
applytransact['time_offset'].mean()

KeyError: 'time_offset'

In [350]:
applytransact.dtypes

BITCOIN_ADDRESS     object
AMOUNT              object
DATE                object
TIME                object
TIME_ZONE           object
PURCHASE_APP        object
CATEGORY            object
TIME_OFFSET        float64
dtype: object

In [351]:
def reverser(date):
    return -date

applytransact['time_offset_reverse'] = applytransact['time_offset'].apply(reverser) #apply best for creating new column
applytransact['zeroer'] = applytransact['time_offset'] + applytransact['time_offset_reverse']
applytransact.head()

KeyError: 'time_offset'

In [352]:
applytransact.iloc[[87]]

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET
87,15zNYn8qP2cSR5A7hbm7ai8Wbm5ehMTWTX,"€2995,36",10-Dec-2020,10:22:30 AM,Atlantic/Cape_Verde,Sonair,Movies,-10.0

In [353]:
for group, frame in applytransact.groupby('purchase_app'):
    #print(group, '\n\n') #the unique apps
    #print(frame, '\n\n') #information contained with them
    pass

KeyError: 'purchase_app'

In [354]:
def get_first(group_df):
    return group_df.iloc[0]
applytransact.groupby('time_zone').apply(get_first).head() #groupby makes purchase_app the indexs

KeyError: 'time_zone'

In [355]:
applytransact = applytransact.reset_index()

In [356]:
applytransact = applytransact.drop(['level_0', 'index'], axis = 1)
applytransact.head()

KeyError: "['level_0'] not found in axis"

In [357]:
applytransact.groupby('purchase_app').agg(len).head() #amount of times is placed in each column

KeyError: 'purchase_app'

In [358]:
applytransact.head()

applytransact['xyz'] = applytransact.groupby('purchase_app')['time_offset'].transform(len)
applytransact.head()

KeyError: 'purchase_app'

In [359]:
applytransact.head()

,index,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET
0,0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
1,1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0
2,2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0
3,3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0
4,4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,8:57:58 PM,Europe/Kiev,Veribet,NaN,2.0

In [360]:
for x in applytransact['category'].unique(): #going through each category
    avg = np.average(applytransact.where(applytransact['time_zone'] == 'Asia/Tehran').dropna()['time_offset']) #apply the avgerage to time
    print(x, avg)

KeyError: 'category'

In [361]:
for group, frame in applytransact.groupby('purchase_app'):
    avg = np.average(frame['time_offset'])
    print(group, avg)
    #print(group, '\n\n')
    #print(frame, '\n\n')

KeyError: 'purchase_app'

In [362]:
compdf = company_df
compdf.head()
compdf = compdf.set_index('COMPANY')
compdf.head()

def botsford(name):
    if 'Botsford' in name:
        return 'Botsford-Dooley'
    else:
        return 'Another Company'
    
for group, frame in compdf.groupby(botsford):
    print(group, '\n\n')
    print(frame, '\n\n')

Another Company


                                                   ADDRESS MARKET_CAP  \
COMPANY
Buckridge, Conroy and Nitzsche            4 Kropf Crossing    $93.98M
Hegmann, Emmerich and O'Connell        34952 Badeau Street    $34.63M
Littel, Rau and Kuhlman           876 Golf Course Junction        NaN
Becker-Macejkovic                    913 Ludington Parkway        NaN
Champlin, Steuber and Lehner            0259 Derek Parkway   $607.04M
...                                                    ...        ...
Breitenberg, Stanton and Treutel        7 Northridge Point        NaN
Bruen LLC                                  434 Gerald Pass   $144.39M
Donnelly and Sons                      65391 Westport Park     $2.65B
Pfannerstill LLC                    85992 Westerfield Lane   $685.51M
Tromp, Zieme and Hackett           0132 Briar Crest Avenue   $487.29M

                                                            INDUSTRY STATE  \
COMPANY
Buckridge, Conroy and Nitzsche                 Major Pharmaceuticals    NY
Hegmann, Emmerich and O'Connell           Medical/Dental Instruments   NaN
Littel, Rau and Kuhlman           Department/Specialty Retail Stores   OAX
Becker-Macejkovic                                                NaN   NaN
Champlin, Steuber and Lehner                                     NaN   NaN
...                                                              ...   ...
Breitenberg, Stanton and Treutel                                 NaN   NaN
Bruen LLC                                                        NaN    AZ
Donnelly and Sons                 Department/Specialty Retail Stores    AZ
Pfannerstill LLC                      Catalog/Specialty Distribution   NaN
Tromp, Zieme and Hackett                  Finance: Consumer Services    15

                                                 COUNTRY COUNTRY_CODE  \
COMPANY
Buckridge, Conroy and Nitzsche             United States           US
Hegmann, Emmerich and O'Connell                    China           CN
Littel, Rau and Kuhlman                           Mexico           MX
Becker-Macejkovic                                  China           CN
Champlin, Steuber and Lehner                     Nigeria           NG
...                                                  ...          ...
Breitenberg, Stanton and Treutel                  Brazil           BR
Bruen LLC                                  United States           US
Donnelly and Sons                          United States           US
Pfannerstill LLC                  Bosnia and Herzegovina           BA
Tromp, Zieme and Hackett                        Portugal           PT

                                 STOCK_SYMBOL            TIME_ZONE
COMPANY
Buckridge, Conroy and Nitzsche           CTIC     America/New_York
Hegmann, Emmerich and O'Connell          MGCD        Asia/Shanghai
Littel, Rau and Kuhlman                 SHLDW  America/Mexico_City
Becker-Macejkovic                        FRCF          Asia/Harbin
Champlin, Steuber and Lehner              FSD         Africa/Lagos
...                                       ...                  ...
Breitenberg, Stanton and Treutel        STAGB    America/Sao_Paulo
Bruen LLC                                 NTX      America/Phoenix
Donnelly and Sons                        FIVE      America/Phoenix
Pfannerstill LLC                          SYX      Europe/Sarajevo
Tromp, Zieme and Hackett                 ENVA        Europe/Lisbon

[199 rows x 8 columns]


Botsford-Dooley


                                ADDRESS MARKET_CAP                INDUSTRY  \
COMPANY
Botsford-Dooley  74409 La Follette Hill     $3.32B  Oil Refining/Marketing

                STATE COUNTRY COUNTRY_CODE STOCK_SYMBOL    TIME_ZONE
COMPANY
Botsford-Dooley   NaN  Taiwan           TW          BCO  Asia/Taipei

In [363]:
compdf.head()
for group, frame in compdf.groupby(['COUNTRY', 'COUNTRY_CODE']):
    print(group, len(frame))

('Afghanistan', 'AF') 1
('Andorra', 'AD') 1
('Argentina', 'AR') 3
('Australia', 'AU') 1
('Azerbaijan', 'AZ') 1
('Bangladesh', 'BD') 1
('Bolivia', 'BO') 1
('Bosnia and Herzegovina', 'BA') 1
('Brazil', 'BR') 8
('Burkina Faso', 'BF') 1
('Cambodia', 'KH') 1
('Canada', 'CA') 1
('China', 'CN') 33
('Colombia', 'CO') 3
('Croatia', 'HR') 2
('Czech Republic', 'CZ') 2
('Dominican Republic', 'DO') 1
('Ecuador', 'EC') 2
('Estonia', 'EE') 1
('France', 'FR') 5
('Gambia', 'GM') 1
('Greece', 'GR') 1
('Guatemala', 'GT') 1
('Honduras', 'HN') 1
('Hungary', 'HU') 1
('Indonesia', 'ID') 20
('Ireland', 'IE') 1
('Japan', 'JP') 2
('Jordan', 'JO') 1
('Kazakhstan', 'KZ') 1
('Latvia', 'LV') 1
('Lesotho', 'LS') 1
('Mexico', 'MX') 2
('Mongolia', 'MN') 1
('Montenegro', 'ME') 1
('Morocco', 'MA') 1
('Netherlands', 'NL') 3
('Nigeria', 'NG') 3
('North Korea', 'KP') 1
('Norway', 'NO') 1
('Pakistan', 'PK') 2
('Peru', 'PE') 1
('Philippines', 'PH') 6
('Poland', 'PL') 10
('Portugal', 'PT') 7
('Republic of the Congo', 'CG') 1
('Russia', 'RU') 10
('Saint Kitts and Nevis', 'KN') 1
('Senegal', 'SN') 1
('Serbia', 'RS') 1
('South Korea', 'KR') 1
('Spain', 'ES') 2
('Sweden', 'SE') 8
('Syria', 'SY') 1
('Taiwan', 'TW') 1
('Tanzania', 'TZ') 1
('Thailand', 'TH') 1
('Tunisia', 'TN') 1
('Turkmenistan', 'TM') 1
('Ukraine', 'UA') 2
('United Kingdom', 'GB') 1
('United States', 'US') 21
('Venezuela', 'VE') 1
('Vietnam', 'VN') 2
('Zimbabwe', 'ZW') 1

In [364]:
compdf.head()
agger = compdf.groupby('TIME_ZONE').agg({'STOCK_SYMBOL': len}).sort_values(by='STOCK_SYMBOL', ascending = False)

In [365]:
agger['STOCK_SYMBOL'].agg(np.mean)

2.4096385542168677

In [366]:
compdf.groupby('STATE').agg(len).head()

,ADDRESS,MARKET_CAP,INDUSTRY,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
STATE,,,,,,,
10,1,1,1,1,1,1,1
11,1,1,1,1,1,1,1
12,1,1,1,1,1,1,1
13,2,2,2,2,2,2,2
14,1,1,1,1,1,1,1

In [367]:
display(person_df.head(3))
display(company_df.head(3))


transact_df.columns = [x.strip().upper() for x in transact_df.columns]
display(transact_df.head(3))

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,SSN,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services,None
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting,None
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources,None

,ADDRESS,COMPANY,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
0,74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
1,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
2,34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0

In [368]:
merger = pd.merge(person_df, company_df, how='left', on='COMPANY')
merger.head(3)

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS_x,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,...,NEW_COLUMN2,LAST_FOUR,ADDRESS_y,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE_y,STOCK_SYMBOL,TIME_ZONE
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",...,M Services,None,442 Heath Junction,$5.25B,Packaged Foods,KS,United States,US,POST,America/Chicago
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",...,F Accounting,None,54 Vernon Park,$782.98M,Major Chemicals,11,Portugal,PT,OCIP,Europe/Lisbon
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",...,M Human Resources,None,80 Grover Plaza,$21.32B,Real Estate Investment Trusts,NaN,Czech Republic,CZ,GGP,Europe/Prague

In [369]:
merger2 = pd.merge(person_df, company_df, how='inner', on=['COMPANY', 'ADDRESS'])
merger.head(3)

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS_x,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,...,NEW_COLUMN2,LAST_FOUR,ADDRESS_y,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE_y,STOCK_SYMBOL,TIME_ZONE
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",...,M Services,None,442 Heath Junction,$5.25B,Packaged Foods,KS,United States,US,POST,America/Chicago
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",...,F Accounting,None,54 Vernon Park,$782.98M,Major Chemicals,11,Portugal,PT,OCIP,Europe/Lisbon
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",...,M Human Resources,None,80 Grover Plaza,$21.32B,Real Estate Investment Trusts,NaN,Czech Republic,CZ,GGP,Europe/Prague

In [370]:
merger3 = pd.merge(company_df, transact_df, on = 'TIME_ZONE', how = 'inner')
merger3.head(3)

,ADDRESS,COMPANY,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,PURCHASE_APP,CATEGORY,TIME_OFFSET
0,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York,1KGBbMgpZqi6mvMh42k7evTXRRxJQp8tzc,$421.60,24-Feb-2021,8:32:47 AM,Bitchip,NaN,-1.0
1,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York,1CzbeXKiKSbUJjeEYY9WbgjLBTMQ65rEwJ,£2874.56,07-Feb-2021,NaN,Y-find,Computers,-1.0
2,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York,13DYwpNkiUZAJZceZwzhsdJqr3mXbrNKo9,¥2079.17,13-Aug-2020,11:31:34 AM,Daltfresh,Industrial,-1.0

In [371]:
merger4 = pd.merge(person_df, transact_df, on = ['BITCOIN_ADDRESS'], how = 'left')
merger4.head(3)

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,...,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",...,ID,M Services,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",...,US,F Accounting,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",...,US,M Human Resources,None,£5582.95,26-Mar-2020,11:32:42 AM,America/Sao_Paulo,Sonsing,NaN,-4.0

In [372]:
altindexperson = person_df.set_index('FIRST_NAME')


merger5 = pd.merge(altindexperson, company_df, how='inner', on=['COMPANY', 'ADDRESS'], left_index = True, right_index = True)
merger5.head(3)

Empty DataFrame
Columns: [LAST_NAME, EMAIL, GENDER, SUFFIX, TITLE, ADDRESS, DEPARTMENT, BITCOIN_ADDRESS, COMPANY, SSN, EMPLOYEE_START, COUNTRY_CODE_x, NEW_COLUMN2, LAST_FOUR, MARKET_CAP, INDUSTRY, STATE, COUNTRY, COUNTRY_CODE_y, STOCK_SYMBOL, TIME_ZONE]
Index: []

[0 rows x 21 columns]

In [373]:
display(person_df.head(3))
display(company_df.head(3))


transact_df.columns = [x.strip().upper() for x in transact_df.columns]
display(transact_df.head(3))

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,SSN,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services,None
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting,None
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources,None

,ADDRESS,COMPANY,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
0,74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
1,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
2,34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0

In [374]:
xmerg = pd.merge(person_df, company_df, how='left', on=['COMPANY', 'COUNTRY_CODE', 'ADDRESS'])
#xmerg = pd.merge(person_df, company_df, how='left', on=['COMPANY', 'COUNTRY_CODE'])
xmerg.head()

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,...,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR,MARKET_CAP,INDUSTRY,STATE,COUNTRY,STOCK_SYMBOL,TIME_ZONE
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",...,2021-02-02 03:48:49,ID,M Services,None,NaN,NaN,NaN,NaN,NaN,NaN
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",...,2020-09-17 01:27:03,US,F Accounting,None,NaN,NaN,NaN,NaN,NaN,NaN
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",...,2020-10-01 01:30:20,US,M Human Resources,None,NaN,NaN,NaN,NaN,NaN,NaN
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,...,2020-12-30 18:25:52,PT,F Research and Development,None,NaN,NaN,NaN,NaN,NaN,NaN
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",...,2021-02-01 23:30:49,BR,F Services,None,NaN,NaN,NaN,NaN,NaN,NaN

In [375]:
xmerge2 = pd.merge(person_df, company_df, how= 'outer')
xmerge2.head(5)

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,...,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR,MARKET_CAP,INDUSTRY,STATE,COUNTRY,STOCK_SYMBOL,TIME_ZONE
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",...,2021-02-02 03:48:49,ID,M Services,None,NaN,NaN,NaN,NaN,NaN,NaN
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",...,2020-09-17 01:27:03,US,F Accounting,None,NaN,NaN,NaN,NaN,NaN,NaN
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",...,2020-10-01 01:30:20,US,M Human Resources,None,NaN,NaN,NaN,NaN,NaN,NaN
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,...,2020-12-30 18:25:52,PT,F Research and Development,None,NaN,NaN,NaN,NaN,NaN,NaN
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",...,2021-02-01 23:30:49,BR,F Services,None,NaN,NaN,NaN,NaN,NaN,NaN

In [376]:

d = pd.concat([person_df, company_df])
d.head(1)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,ADDRESS,BITCOIN_ADDRESS,COMPANY,COUNTRY,COUNTRY_CODE,DEPARTMENT,EMAIL,EMPLOYEE_START,FIRST_NAME,GENDER,...,LAST_FOUR,LAST_NAME,MARKET_CAP,NEW_COLUMN2,SSN,STATE,STOCK_SYMBOL,SUFFIX,TIME_ZONE,TITLE
0,98557 2nd Pass,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",NaN,ID,Services,wmassenhove0@about.com,2021-02-02 03:48:49,Weber,M,...,None,Massenhove,NaN,M Services,527-63-1710,NaN,NaN,NaN,NaN,Dr

In [377]:
pindex = person_df.set_index('COMPANY')
cindex = company_df.set_index('COMPANY')

pcmerge = pd.merge(pindex, cindex, how = 'left', on=['COUNTRY_CODE', 'ADDRESS'], left_index= True, right_index = True)
pcmerge.head(3)

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,SSN,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR,MARKET_CAP,INDUSTRY,STATE,COUNTRY,STOCK_SYMBOL,TIME_ZONE
COMPANY,,,,,,,,,,,,,,,,,,,,
"Abbott, Rodriguez and Schmitt",Haley,Craisford,hcraisford9z@facebook.com,M,NaN,Dr,141 Schurz Place,Training,1CzbeXKiKSbUJjeEYY9WbgjLBTMQ65rEwJ,765-22-1368,2020-08-31 05:57:34,US,M Training,None,$4.87B,Major Banks,NaN,Thailand,PVTB,Asia/Vientiane
"Abbott, Rodriguez and Schmitt",Anna,Awton,aawtonmg@cmu.edu,F,NaN,Ms,63776 Lakeland Plaza,Accounting,15pUDkp2rtpUJow8Mbc8K6qh5knYktpDf5,875-36-1685,2020-08-29 10:32:56,CN,F Accounting,None,$4.87B,Major Banks,NaN,Thailand,PVTB,Asia/Vientiane
"Abernathy, Emard and Senger",Alonso,Fitchen,afitchenb@nba.com,M,NaN,NaN,05 Mandrake Parkway,Sales,1C68HJM7YwumejWCsjeoADN973qxHNUEWH,253-43-8746,2020-05-28 14:34:45,PT,M Sales,None,$1.35B,Major Pharmaceuticals,DC,United States,FOLD,America/New_York

In [378]:
pcmerge = pd.merge(pindex, company_df, how = 'outer', left_on = True, right_on = ['COMPANY']).head()

KeyError: True

In [379]:
mepec = pd.merge(person_df, company_df, how='left', on='COMPANY')
mepec.head()
mepec[(mepec['FIRST_NAME'] == 'Grethel') & (mepec['LAST_NAME'] == 'Boyce')][['DEPARTMENT', 'COMPANY']]

   DEPARTMENT                      COMPANY
1  Accounting  Boehm, VonRueden and Turner

In [380]:
vbo = transact_df
vbo = vbo[~vbo['CATEGORY'].isna()]  #grabbing everything from vbo that is not na
vbo.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0
5,1LEF7hCLDDjRJ4K65h4FnEaYZyepbM7dta,$8248.19,03-Mar-2021,NaN,Europe/Athens,Zamit,Industrial,11.0
6,1FGcQ9YhRWH8SKGnxp55PzgmYqKZPC9j9A,£614.72,05-Jun-2020,10:38:35 PM,Europe/Warsaw,Andalax,Games,10.0

In [381]:
robo = pd.pivot_table(vbo, values = 'TIME_OFFSET', columns='BITCOIN_ADDRESS', index = 'TIME', aggfunc=np.mean, margins = True)['All']
robo.head()

TIME
10:01:12 PM   -8.0
10:01:23 PM   -7.0
10:02:59 PM    4.0
10:04:35 AM   -2.0
10:05:51 PM   -6.0
Name: All, dtype: float64

In [382]:
tubs = person_df

tubs.head()

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,SSN,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services,None
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting,None
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources,None
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Research and Development,None
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Services,None

In [383]:
tubs.loc[(0, 1), ('EMAIL', 'GENDER')]

                    EMAIL GENDER
0  wmassenhove0@about.com      M
1        gboyce1@etsy.com      F

In [384]:
tubs.iloc[[0], [2, 3]]

                    EMAIL GENDER
0  wmassenhove0@about.com      M

In [385]:
tubs.iloc[0:2, 0:2]['LAST_NAME']

0    Massenhove
1         Boyce
Name: LAST_NAME, dtype: object

In [386]:
tubs.head()

def gendername(row):
    for ro in row['GENDER']:
        if ro == 'M':
            return 'Male'
        elif ro == 'F':
            return 'Female'
        else:
            return 'Other'

tubs.apply(gendername, axis = 1)

0        Male
1      Female
2        Male
3      Female
4      Female
        ...
995      Male
996    Female
997      Male
998    Female
999      Male
Length: 1000, dtype: object

In [387]:
def zero(r):
    return 0

tubs.apply(zero)

FIRST_NAME         0
LAST_NAME          0
EMAIL              0
GENDER             0
SUFFIX             0
TITLE              0
ADDRESS            0
DEPARTMENT         0
BITCOIN_ADDRESS    0
COMPANY            0
SSN                0
EMPLOYEE_START     0
COUNTRY_CODE       0
NEW_COLUMN2        0
LAST_FOUR          0
dtype: int64

In [388]:
tubs.head()

import re

def last_four(data):
    pattern = '\d{3}-\d{2}-(\d{4})'
    results = re.findall(pattern, data['SSN'])
    return results[0]


tubs['LAST_FOUR'] = tubs.apply(last_four, axis = 1)
tubs.head()

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,SSN,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services,1710
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting,8117
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources,6348
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Research and Development,7976
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Services,0954

In [389]:
for group, frame in tubs.groupby('COMPANY'):
    #print(group, '\n\n')
    #print(frame, '\n\n')
    mask = frame['LAST_FOUR'] == frame['LAST_FOUR'].max()
    v = frame[mask]
    #print(v)

In [390]:
tubs.groupby('DEPARTMENT').agg({'LAST_FOUR': len})

                          LAST_FOUR
DEPARTMENT
Accounting                       87
Business Development             97
Engineering                      69
Human Resources                  89
Legal                            91
Marketing                        73
Product Management               75
Research and Development         79
Sales                            84
Services                         85
Support                         103
Training                         68

In [391]:
tubs.groupby('DEPARTMENT').transform(np.nanmean)

DataError: No numeric types to aggregate

In [392]:
tubs.head()
tubs.rename(columns = {'EMAIL': 'email'}).head()

,FIRST_NAME,LAST_NAME,email,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,SSN,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services,1710
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting,8117
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources,6348
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Research and Development,7976
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Services,0954

In [393]:
def ssndecider(row):
    if row['LAST_FOUR'] >= 6000:
        row['rank_level'] = 'first_tier'
    elif row['LAST_FOUR'] >= 4000:
        row['rank_level'] = 'second_tier'
    elif row['LAST_FOUR'] >= 0:
        row['rank_level'] = 'third_tier'
    return row

tubs['LAST_FOUR'] = tubs['LAST_FOUR'].astype('int64')
zotubs = tubs.apply(ssndecider, axis = 1)
tubs = zotubs

In [394]:
tubs.head()

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,SSN,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR,rank_level
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services,1710,third_tier
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting,8117,first_tier
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources,6348,first_tier
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Research and Development,7976,first_tier
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Services,954,third_tier

In [395]:
tubs.pivot_table(values = 'LAST_FOUR', index = 'FIRST_NAME', columns = 'rank_level', aggfunc= [np.mean]).head()

                 mean
rank_level first_tier second_tier third_tier
FIRST_NAME
Abbi              NaN         NaN     3524.0
Abbie             NaN      4001.0        NaN
Abie              NaN      5113.0        NaN
Addy           6898.0         NaN        NaN
Ado               NaN      4144.0        NaN

In [396]:
tubs.pivot_table(values = 'LAST_FOUR', index = 'FIRST_NAME', columns = 'rank_level', aggfunc= [np.mean, np.max]).head()

                 mean                              amax
rank_level first_tier second_tier third_tier first_tier second_tier third_tier
FIRST_NAME
Abbi              NaN         NaN     3524.0        NaN         NaN     3524.0
Abbie             NaN      4001.0        NaN        NaN      4001.0        NaN
Abie              NaN      5113.0        NaN        NaN      5113.0        NaN
Addy           6898.0         NaN        NaN     6898.0         NaN        NaN
Ado               NaN      4144.0        NaN        NaN      4144.0        NaN

In [397]:
o = tubs.pivot_table(values = 'LAST_FOUR', index = 'FIRST_NAME', columns = 'rank_level', aggfunc= [np.mean, np.max], margins = True).tail()
o

                   mean                                           amax  \
rank_level   first_tier  second_tier   third_tier       All first_tier
FIRST_NAME
Zeb         9547.000000          NaN          NaN  9547.000     9547.0
Zora                NaN          NaN   784.000000   784.000        NaN
Zorina      9315.000000          NaN          NaN  9315.000     9315.0
Zorine              NaN  5488.000000          NaN  5488.000        NaN
All         7952.009828  5031.471204  1942.338308  4978.299     9992.0


rank_level second_tier third_tier   All
FIRST_NAME
Zeb                NaN        NaN  9547
Zora               NaN      784.0   784
Zorina             NaN        NaN  9315
Zorine          5488.0        NaN  5488
All             5976.0     3997.0  9992

In [398]:
o.index

Index(['Zeb', 'Zora', 'Zorina', 'Zorine', 'All'], dtype='object', name='FIRST_NAME')

In [399]:
o.columns

MultiIndex([('mean',  'first_tier'),
            ('mean', 'second_tier'),
            ('mean',  'third_tier'),
            ('mean',         'All'),
            ('amax',  'first_tier'),
            ('amax', 'second_tier'),
            ('amax',  'third_tier'),
            ('amax',         'All')],
           names=[None, 'rank_level'])

In [400]:
o.loc[:, 'mean']

rank_level   first_tier  second_tier   third_tier       All
FIRST_NAME
Zeb         9547.000000          NaN          NaN  9547.000
Zora                NaN          NaN   784.000000   784.000
Zorina      9315.000000          NaN          NaN  9315.000
Zorine              NaN  5488.000000          NaN  5488.000
All         7952.009828  5031.471204  1942.338308  4978.299

In [401]:
o.loc[:, ('mean', 'first_tier')]

FIRST_NAME
Zeb       9547.000000
Zora              NaN
Zorina    9315.000000
Zorine            NaN
All       7952.009828
Name: (mean, first_tier), dtype: float64

In [402]:
o.stack()

                               mean    amax
FIRST_NAME rank_level
Zeb        first_tier   9547.000000  9547.0
           All          9547.000000  9547.0
Zora       third_tier    784.000000   784.0
           All           784.000000   784.0
Zorina     first_tier   9315.000000  9315.0
           All          9315.000000  9315.0
Zorine     second_tier  5488.000000  5488.0
           All          5488.000000  5488.0
All        first_tier   7952.009828  9992.0
           second_tier  5031.471204  5976.0
           third_tier   1942.338308  3997.0
           All          4978.299000  9992.0

In [403]:
o.stack().index

MultiIndex([(   'Zeb',  'first_tier'),
            (   'Zeb',         'All'),
            (  'Zora',  'third_tier'),
            (  'Zora',         'All'),
            ('Zorina',  'first_tier'),
            ('Zorina',         'All'),
            ('Zorine', 'second_tier'),
            ('Zorine',         'All'),
            (   'All',  'first_tier'),
            (   'All', 'second_tier'),
            (   'All',  'third_tier'),
            (   'All',         'All')],
           names=['FIRST_NAME', 'rank_level'])

In [404]:
o.unstack()

      rank_level   FIRST_NAME
mean  first_tier   Zeb           9547.000000
                   Zora                  NaN
                   Zorina        9315.000000
                   Zorine                NaN
                   All           7952.009828
      second_tier  Zeb                   NaN
                   Zora                  NaN
                   Zorina                NaN
                   Zorine        5488.000000
                   All           5031.471204
      third_tier   Zeb                   NaN
                   Zora           784.000000
                   Zorina                NaN
                   Zorine                NaN
                   All           1942.338308
      All          Zeb           9547.000000
                   Zora           784.000000
                   Zorina        9315.000000
                   Zorine        5488.000000
                   All           4978.299000
amax  first_tier   Zeb           9547.000000
                   Zora                  NaN
                   Zorina        9315.000000
                   Zorine                NaN
                   All           9992.000000
      second_tier  Zeb                   NaN
                   Zora                  NaN
                   Zorina                NaN
                   Zorine        5488.000000
                   All           5976.000000
      third_tier   Zeb                   NaN
                   Zora           784.000000
                   Zorina                NaN
                   Zorine                NaN
                   All           3997.000000
      All          Zeb           9547.000000
                   Zora           784.000000
                   Zorina        9315.000000
                   Zorine        5488.000000
                   All           9992.000000
dtype: float64

In [405]:
from datetime import datetime
timedf = transact_df
timedf.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,8:57:58 PM,Europe/Kiev,Veribet,NaN,2.0

In [406]:
lambdadf = transact_df
lambdadf

lambdadf['TIME_OFFSET_PLUS_5'] = lambdadf['TIME_OFFSET'].apply(lambda x: x + 5)
lambdadf.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET,TIME_OFFSET_PLUS_5
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0,15.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0,2.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0,9.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0,1.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,8:57:58 PM,Europe/Kiev,Veribet,NaN,2.0,7.0

In [407]:
droptdf = transact_df

droptdf = droptdf.dropna(subset=['CATEGORY'])
droptdf.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET,TIME_OFFSET_PLUS_5
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0,15.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0,9.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0,1.0
5,1LEF7hCLDDjRJ4K65h4FnEaYZyepbM7dta,$8248.19,03-Mar-2021,NaN,Europe/Athens,Zamit,Industrial,11.0,16.0
6,1FGcQ9YhRWH8SKGnxp55PzgmYqKZPC9j9A,£614.72,05-Jun-2020,10:38:35 PM,Europe/Warsaw,Andalax,Games,10.0,15.0

In [408]:
droptdf.groupby('CATEGORY')['TIME_OFFSET'].transform(len)

0      33.0
2      32.0
3      24.0
5      32.0
6      22.0
       ...
654    31.0
655    24.0
656    26.0
657    32.0
658    29.0
Name: TIME_OFFSET, Length: 540, dtype: float64

In [409]:
droptdf[['PURCHASE_APP', 'AMOUNT']].head()

  PURCHASE_APP    AMOUNT
0         Stim  €8605,56
2      Konklab  €9984,66
3        Otcom  €5709,95
5        Zamit  $8248.19
6      Andalax   £614.72

In [410]:
droptdf[['PURCHASE_APP', 'AMOUNT']].dropna().head()

  PURCHASE_APP    AMOUNT
0         Stim  €8605,56
2      Konklab  €9984,66
3        Otcom  €5709,95
5        Zamit  $8248.19
6      Andalax   £614.72

In [411]:
inception = transact_df
inception.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET,TIME_OFFSET_PLUS_5
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0,15.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0,2.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0,9.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0,1.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,8:57:58 PM,Europe/Kiev,Veribet,NaN,2.0,7.0

In [412]:
(inception.where(inception['PURCHASE_APP'] == 'Stim').dropna().set_index('CATEGORY').rename(columns={'AMOUNT': 'FOREIGN_AMOUNT'}))

,BITCOIN_ADDRESS,FOREIGN_AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,TIME_OFFSET,TIME_OFFSET_PLUS_5
CATEGORY,,,,,,,,
Music,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,10.0,15.0
Jewelery,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,£7841.76,21-Oct-2020,8:01:28 PM,America/Phoenix,Stim,11.0,16.0
Jewelery,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,£2984.91,22-Jan-2021,2:46:19 PM,America/Lima,Stim,-1.0,4.0
Garden,1Eyu1aw76p4m8k48uUs5cvkqaPyvfHPsQi,$9583.77,08-Sep-2020,12:05:47 AM,America/Costa_Rica,Stim,-4.0,1.0
Jewelery,13Ledy6KT2rVTqwEJXQL9cNeDXnhcDhvbS,"€8468,76",03-Nov-2020,11:40:30 PM,Asia/Shanghai,Stim,-3.0,2.0
Automotive,18UZKGyrA2JxSgjCghfyJgmm2AkzhD5iYZ,¥4685.26,03-Jun-2020,9:18:06 PM,Asia/Chongqing,Stim,2.0,7.0
Tools,1B9rWdX9kBgXa6vVP3SGduyZR7CxyYjsno,¥9461.72,25-Oct-2020,11:31:06 PM,America/Lima,Stim,-1.0,4.0
Outdoors,1MrAnuZ1RA9nRrNd41CeWMLA74hyph4Wpz,$9867.16,16-Aug-2020,4:42:26 AM,America/Lima,Stim,-1.0,4.0
Computers,1FsYEber3L11W7UWSrtbGrzNuzTxt9xQa8,"€6504,66",17-Nov-2020,10:53:52 AM,Europe/Luxembourg,Stim,-4.0,1.0

In [413]:
inception.head()
inception['TIME_OFFSET_PLUS_10'] = inception['TIME_OFFSET'].apply(lambda x: x + 10)
inception.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET,TIME_OFFSET_PLUS_5,TIME_OFFSET_PLUS_10
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0,15.0,20.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0,2.0,7.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0,9.0,14.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0,1.0,6.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,8:57:58 PM,Europe/Kiev,Veribet,NaN,2.0,7.0,12.0

In [414]:
inception['TIME_OFFSET_PLUS_10'].groupby

<bound method NDFrame.groupby of 0      20.0
1       7.0
2      14.0
3       6.0
4      12.0
       ...
655    19.0
656     7.0
657    12.0
658    12.0
659     NaN
Name: TIME_OFFSET_PLUS_10, Length: 660, dtype: float64>

In [415]:
df=pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 
                       'ok', 'ok', 'ok', 'poor', 'poor'],
               columns=["Grades"])
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [416]:
df.dtypes

Grades    object
dtype: object

In [417]:
df['Grades'].astype('category').head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): [A, A+, A-, B, ..., C+, C-, D, D+]

Find the ratios of male to females working in each industry (including a category for those that are unemployed, which we will consider to be the case if the company they work for is not in the list of companies). Include only employees that have an email domain ending in .com in your analysis. If there are only male employees, return the value np.inf.

In [418]:
display(person_df.head(3))
display(company_df.head(3))

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,SSN,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services,1710
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Accounting,8117
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Human Resources,6348

,ADDRESS,COMPANY,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
0,74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
1,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
2,34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai

In [419]:
#dataframes used = person_df & company_df

#merge dataframes
newmerged = pd.merge(person_df, company_df)

In [420]:
inception.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET,TIME_OFFSET_PLUS_5,TIME_OFFSET_PLUS_10
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0,15.0,20.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0,2.0,7.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0,9.0,14.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0,1.0,6.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,8:57:58 PM,Europe/Kiev,Veribet,NaN,2.0,7.0,12.0

In [421]:
inceptionx = transact_df
inceptionx.head()
inceptionx['TIME'] = pd.to_datetime(inceptionx['TIME'])
inceptionx = inceptionx.set_index('TIME')
inceptionx = inceptionx.resample('M').mean()['TIME_OFFSET']
inceptionx

TIME
2021-03-31    0.202749
Name: TIME_OFFSET, dtype: float64

In [422]:
inception

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET,TIME_OFFSET_PLUS_5,TIME_OFFSET_PLUS_10
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,2021-03-19 23:12:56,Europe/Warsaw,Stim,Music,10.0,15.0,20.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,2021-03-19 21:43:06,Asia/Shanghai,Treeflex,NaN,-3.0,2.0,7.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,2021-03-19 17:56:19,Asia/Harbin,Konklab,Industrial,4.0,9.0,14.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,2021-03-19 19:38:22,Asia/Tehran,Otcom,Beauty,-4.0,1.0,6.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,2021-03-19 20:57:58,Europe/Kiev,Veribet,NaN,2.0,7.0,12.0
5,1LEF7hCLDDjRJ4K65h4FnEaYZyepbM7dta,$8248.19,03-Mar-2021,NaT,Europe/Athens,Zamit,Industrial,11.0,16.0,21.0
6,1FGcQ9YhRWH8SKGnxp55PzgmYqKZPC9j9A,£614.72,05-Jun-2020,2021-03-19 22:38:35,Europe/Warsaw,Andalax,Games,10.0,15.0,20.0
7,1JiCnq4Rr6DpgzuTznZ6Lek8Sbf7mqMkNa,NaN,02-Mar-2021,2021-03-19 04:03:56,Europe/Tallinn,Tampflex,Garden,11.0,16.0,21.0
8,19JHZUhKjRtcWtL91PQiBUq8ABginr3cfY,£259.63,17-Jul-2020,2021-03-19 08:03:46,Asia/Tokyo,Redhold,NaN,9.0,14.0,19.0
9,14A7xJxWgMatvjzpDGBDxKwLkdEimv4T8f,$5488.49,26-Apr-2020,2021-03-19 20:40:55,Asia/Chongqing,Mat Lam Tam,Books,2.0,7.0,12.0
10,133Avc1Rf7Lq1kV5TAgibgo6T22UhAVxgC,£7326.94,02-Aug-2020,2021-03-19 07:07:56,Asia/Manila,Cardify,Tools,-6.0,-1.0,4.0
11,1PjWdto3Vr4sLwc6Hipk5mX8dMEyK2AtGE,NaN,14-Jul-2020,2021-03-19 12:57:08,Asia/Riyadh,Pannier,Music,-4.0,1.0,6.0
12,1BMXQwQz2zBZJhTPCED1xee9Qq1rgXyGNi,$7579.19,13-Feb-2021,2021-03-19 23:24:36,Asia/Shanghai,Redhold,Baby,-3.0,2.0,7.0
13,18K48Y9mV3dot6QeA1fzU2xacg31GHeAq3,$5129.32,16-Feb-2021,2021-03-19 15:08:16,Asia/Chongqing,Wrapsafe,Beauty,2.0,7.0,12.0
14,1GMonRgcncJDFmYUtZVzqQYKneVscAQ1Fc,"€6005,33",19-Nov-2020,2021-03-19 18:32:20,Europe/Belgrade,Aerified,NaN,-5.0,0.0,5.0
15,15gr3Wvjbb7fWszPdJ9P3wN7Lxgng1quUG,$5841.06,11-Sep-2020,2021-03-19 14:44:10,Asia/Harbin,Veribet,Movies,4.0,9.0,14.0
16,1NPThpZ7h2GwbvmKC6zqxNkUPk86ddkGgz,£8620.99,20-Apr-2020,NaT,Africa/Gaborone,Rank,Shoes,-11.0,-6.0,-1.0
17,1C37g6Z9x6MzvyPJp86rcxqgSBHEyNkFGy,$503.81,21-Nov-2020,2021-03-19 10:16:30,Europe/Minsk,Trippledex,Beauty,5.0,10.0,15.0
18,1Pd4iujMZnynAGa8UACJzfUepfdrfPjazD,"€5775,27",09-Mar-2020,2021-03-19 05:51:48,Africa/Johannesburg,Stringtough,Outdoors,-6.0,-1.0,4.0
19,1CFEhR6iTtNvjHZUioKhDkYY9hjp9KdkWt,¥4087.30,05-Sep-2020,2021-03-19 13:13:55,Asia/Shanghai,Biodex,Games,-3.0,2.0,7.0
20,12VrC5atYzdAJjzyZXQ7GxeyxCi56bZw71,£4642.23,11-Feb-2021,2021-03-19 04:17:07,America/Edmonton,Bamity,NaN,8.0,13.0,18.0
21,1Hh7XmstSTxLGs2uoC7n2D4USbrT9AtfgF,¥3229.06,02-Jun-2020,2021-03-19 22:09:33,Europe/Warsaw,Subin,Electronics,10.0,15.0,20.0
22,1QAw5quAhVS4kz2fzHL41xuaXqeXAjCjwq,¥2878.31,26-Dec-2020,2021-03-19 04:54:10,Africa/Dar_es_Salaam,Mat Lam Tam,Outdoors,-11.0,-6.0,-1.0
23,12p93f97XLrkgPkxxtLuY2mT3nYrgfLQcG,£7789.90,05-Jul-2020,2021-03-19 02:02:48,Europe/Moscow,Stringtough,Electronics,-6.0,-1.0,4.0
24,1A5unwi9r9iQyLEVKs1mUYcDQzPjC44Ynq,$8451.84,14-Jan-2021,2021-03-19 23:34:07,Asia/Tokyo,Hatity,Grocery,9.0,14.0,19.0
25,16NAHyd4AeF4dfqWwV6iRBZ5R3jizfzAE2,£6592.00,12-Jun-2020,NaT,America/Bogota,Gembucket,Tools,-7.0,-2.0,3.0
26,1Njk66xqykvTvx134jRFGNNxJjdWMTAXjf,£6959.92,01-Jan-2021,2021-03-19 22:01:12,Asia/Makassar,Fixflex,Shoes,-8.0,-3.0,2.0
27,1Hs57krdQygFJ7En2a25yXhqo743wVYZGJ,¥9296.20,24-Aug-2020,2021-03-19 18:19:16,Europe/Paris,Sonair,Clothing,-6.0,-1.0,4.0
28,1HMerTzVYZ7Zfg146SEN1yFhGEFoAvYxmm,$1756.61,26-Nov-2020,2021-03-19 00:35:34,America/Lima,Andalax,Movies,-1.0,4.0,9.0
29,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,£7841.76,21-Oct-2020,2021-03-19 20:01:28,America/Phoenix,Stim,Jewelery,11.0,16.0,21.0
...,...,...,...,...,...,...,...,...,...,...
630,1AJXSf9tvLZC4kF41vx93Rr41Q4Thpp19r,£6168.28,10-Aug-2020,2021-03-19 13:32:08,Europe/Paris,Daltfresh,NaN,-6.0,-1.0,4.0
631,1QJ2bF8h2QLB7mVk2gkp3hoxcFdR5AYV75,"€5885,59",24-Jul-2020,NaT,Asia/Bangkok,Job,Movies,7.0,12.0,17.0
632,16kvgpcFGLipQphodCDy22g4pkkoX585ds,"€685,14",06-Jan-2021,2021-03-19 08:56:41,Europe/Paris,Subin,Health,-6.0,-1.0,4.0
633,1MGP31dRA2SwBeCoqYgS9d6AJjjViGwpfU,$1773.96,02-Aug-2020,2021-03-19 10:25:00,Asia/Jakarta,Ventosanzap,Sports,10.0,15.0,20.0
634,1LtYQuDJ1aSv2hGgAY1KjqY53WwFeo5Vk8,£8785.36,24-Apr-2020,2021-03-19 05:52:12,Asia/Yekaterinburg,Tampflex,Toys,11.0,16.0,21.0
635,1GLb7c4p2WU1QqceR3PPXHsRWUF8HbPuu1,£3465.09,18-Oct-2020,2021-03-19 10:06:46,Europe/Belgrade,Treeflex,Music,-5.0,0.0,5.0
636,1Len4LzJ8JYd37hGxE3ru6zQM4xoAmp4Dr,"€9270,27",31-Aug-2020,2021-03-19 12:48:56,Africa/Luanda,Job,Health,-11.0,-6.0,-1.0
637,1AJXSf9tvLZC4kF41vx93Rr41Q4Thpp19r,¥4096.16,26-Aug-2020,2021-03-19 11:51:21,Europe/Helsinki,Matsoft,Electronics,7.0,12.0,17.0
638,1KKmNh9fcNYoRp4oYaYjVZtxmcFNfC4H6y,$9407.58,14-Mar-2020,2021-03-19 23:31:36,Europe/Prague,Andalax,Industrial,-2.0,3.0,8.0
639,1L3cBsEo6wzcj5aHJWGmXm6A4k8gB7xcQr,£9142.53,03-Jun-2020,NaT,America/Chicago,Daltfresh,Books,-6.0,-1.0,4.0
640,1tWHi856LLxFBefgimuQK7qB8KhUPUU6h,£1455.91,18-Jun-2020,2021-03-19 00:51:35,Asia/Jakarta,Namfix,NaN,10.0,15.0,20.0
641,1MGP31dRA2SwBeCoqYgS9d6AJjjViGwpfU,"€5751,30",13-Feb-2021,NaT,Europe/Lisbon,Wrapsafe,Kids,2.0,7.0,12.0
642,1GMASu65kkSoBPJkpW4r2QZqGis3meTfAJ,£1037.58,19-Sep-2020,NaT,Asia/Chongqing,Cardguard,Industrial,2.0,7.0,12.0
643,1NeVkfGuvsh2QdggwDve93Cb8ipgUhaUfA,"€3072,09",27-Oct-2020,2021-03-19 02:21:31,America/Bahia,Konklux,Kids,-8.0,-3.0,2.0
644,1brn6x8APKnZfhTqmJHqkLyrhdmWp3fyu,¥6811.74,28-Jun-2020,2021-03-19 18:43:24,Asia/Kuala_Lumpur,Mat Lam Tam,Clothing,-3.0,2.0,7.0
645,1DpciTAj3xXM3dHXiGFR5VT8Sa2upfaVDb,¥8956.38,14-Nov-2020,2021-03-19 18:08:18,Asia/Yakutsk,Ronstring,Automotive,0.0,5.0,10.0
646,1GdeQzAFwo6uDru2vc6sLTH7xaX2pcDbDM,$1520.04,11-Dec-2020,2021-03-19 23:17:23,Asia/Jakarta,Rank,Industrial,10.0,15.0,20.0
647,13ZZoohGiuX483tXgND2bhD42v7ETg3pcz,¥1366.11,21-Jan-2021,2021-03-19 15:43:14,Asia/Manila,Alpha,Books,-6.0,-1.0,4.0
648,1MwxzcfVb1bgM36AJKcpsGaecswBcgGLsd,£7591.96,05-Jan-2021,2021-03-19 05:06:39,Europe/Stockholm,Veribet,Toys,-6.0,-1.0,4.0
649,1i86NCo4dHzuaBVq8SPaQTxBPwmGzu7cK,$819.74,03-Dec-2020,2021-03-19 16:42:25,Asia/Chongqing,Sonsing,Music,2.0,7.0,12.0
650,1GnesyGWWrk3aR2GijR65Re1UnErECtNDL,¥6561.41,12-Sep-2020,2021-03-19 22:18:14,America/Rio_Branco,Sub-Ex,Grocery,4.0,9.0,14.0
651,1AknKkbcgUpnGULeTsrmDjCeSmNorEhQp2,£2834.96,16-Mar-2020,2021-03-19 02:04:34,Asia/Manila,Bamity,Shoes,-6.0,-1.0,4.0
652,16EiidiFKefVNK7NeG42S7uL39JKx7yvbu,"€1057,20",14-Aug-2020,NaT,Asia/Jakarta,Latlux,Sports,10.0,15.0,20.0
653,1Py3qKx3MjeBMi5uVGg4xgnv3XFTrRCoQC,£9299.86,26-Apr-2020,2021-03-19 09:42:57,America/Los_Angeles,Sonsing,Home,-3.0,2.0,7.0
654,128U1g2PhYQfDHe9DoimGgnXADbkkzFLpv,¥3683.45,30-Apr-2020,2021-03-19 04:24:08,Asia/Chongqing,Asoka,Health,2.0,7.0,12.0
655,1Gyf2xz1SAJmtz7H9DVHLfk72arD434SSE,¥1900.64,03-Dec-2020,2021-03-19 07:45:30,Africa/Blantyre,Veribet,Beauty,9.0,14.0,19.0
656,12VrC5atYzdAJjzyZXQ7GxeyxCi56bZw71,"€238,15",07-Oct-2020,2021-03-19 11:31:51,Asia/Kuala_Lumpur,Treeflex,Garden,-3.0,2.0,7.0
657,1B3TDkUvRXdVmu1Nan35qVKtXuj2rY4Tr7,¥6550.33,16-Oct-2020,2021-03-19 00:34:44,Europe/Lisbon,Lotlux,Industrial,2.0,7.0,12.0
658,1JExYVkQH17mjs6y42onSSBTGELymH6GL,£1379.11,15-Oct-2020,NaT,Asia/Chongqing,Mat Lam Tam,Electronics,2.0,7.0,12.0
659,1Ep9iBpAqiupY3r81yAKiNpJLg4LN665ML,¥102.83,31-Aug-2020,2021-03-19 18:10:40,Europe/Za,NaN,NaN,NaN,NaN,NaN

Find the ratios of male to females working in each industry (including a category for those that are unemployed, which we will consider to be the case if the company they work for is not in the list of companies). Include only employees that have an email domain ending in .com in your analysis. If there are only male employees, return the value np.inf.

In [423]:
display(person_df.head(1))
display(company_df.head(1))

,FIRST_NAME,LAST_NAME,EMAIL,GENDER,SUFFIX,TITLE,ADDRESS,DEPARTMENT,BITCOIN_ADDRESS,COMPANY,SSN,EMPLOYEE_START,COUNTRY_CODE,NEW_COLUMN2,LAST_FOUR
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Services,1710

,ADDRESS,COMPANY,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
0,74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei

In [424]:
import re

pcdf = person_df

def emailer(df):
    pattern = r'.+@.+.\com'
    results = re.findall(pattern, df)
    if results == True:
        return True
    else:
        return False
    
pcdf['com'] = pcdf['EMAIL'].apply(emailer)
pcdf

#pcdf = pd.merge(person_df, company_df, how = 'left', on=['COMPANY', 'COUNTRY_CODE'])

error: bad escape \c at position 6

In [425]:
dtdf = transact_df
dtdf.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET,TIME_OFFSET_PLUS_5,TIME_OFFSET_PLUS_10
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,2021-03-19 23:12:56,Europe/Warsaw,Stim,Music,10.0,15.0,20.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,2021-03-19 21:43:06,Asia/Shanghai,Treeflex,NaN,-3.0,2.0,7.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,2021-03-19 17:56:19,Asia/Harbin,Konklab,Industrial,4.0,9.0,14.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,2021-03-19 19:38:22,Asia/Tehran,Otcom,Beauty,-4.0,1.0,6.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,2021-03-19 20:57:58,Europe/Kiev,Veribet,NaN,2.0,7.0,12.0

In [426]:
def main_country(dtdf):
    for row in dtdf['TIME_ZONE']:
        pattern = '(\w+)\W(\w+)'
        result = re.findall(pattern, row)
        display(result)
#         for x in result:
#             return x
dtdf['main_country'] = dtdf['TIME_ZONE'].apply(main_country) 

dtdf.head()

TypeError: string indices must be integers

In [427]:
abc = transact_df
abc.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET,TIME_OFFSET_PLUS_5,TIME_OFFSET_PLUS_10
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,2021-03-19 23:12:56,Europe/Warsaw,Stim,Music,10.0,15.0,20.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,2021-03-19 21:43:06,Asia/Shanghai,Treeflex,NaN,-3.0,2.0,7.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,2021-03-19 17:56:19,Asia/Harbin,Konklab,Industrial,4.0,9.0,14.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,2021-03-19 19:38:22,Asia/Tehran,Otcom,Beauty,-4.0,1.0,6.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,2021-03-19 20:57:58,Europe/Kiev,Veribet,NaN,2.0,7.0,12.0

In [429]:
abc['TIME'] = pd.to_datetime(abc['TIME'])
abc = abc.set_index('TIME')
abc.head()

,BITCOIN_ADDRESS,AMOUNT,DATE,TIME_ZONE,PURCHASE_APP,CATEGORY,TIME_OFFSET,TIME_OFFSET_PLUS_5,TIME_OFFSET_PLUS_10
TIME,,,,,,,,,
2021-03-19 23:12:56,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,Europe/Warsaw,Stim,Music,10.0,15.0,20.0
2021-03-19 21:43:06,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,Asia/Shanghai,Treeflex,NaN,-3.0,2.0,7.0
2021-03-19 17:56:19,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,Asia/Harbin,Konklab,Industrial,4.0,9.0,14.0
2021-03-19 19:38:22,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,Asia/Tehran,Otcom,Beauty,-4.0,1.0,6.0
2021-03-19 20:57:58,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,Europe/Kiev,Veribet,NaN,2.0,7.0,12.0

In [436]:
abc['2021-03-19': '2021-03-19'].resample('H').asfreq()

TypeError: 'Timedelta' object is not subscriptable