In [1]:
import pandas as pd
import numpy as np

company_df = pd.read_csv('EXAM_DATA_COMPANY.csv')
person_df = pd.read_csv('EXAM_DATA_PERSON.csv')
transact_df = pd.read_csv('EXAM_DATA_TRANSACT.csv')

display(company_df.head())
display(person_df.head())
display(transact_df.head())

,address,company,market_cap,industry,state,country,country_code,stock_symbol,time_zone
0,74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
1,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
2,34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai
3,876 Golf Course Junction,"Littel, Rau and Kuhlman",NaN,Department/Specialty Retail Stores,OAX,Mexico,MX,SHLDW,America/Mexico_City
4,913 Ludington Parkway,Becker-Macejkovic,NaN,NaN,NaN,China,CN,FRCF,Asia/Harbin

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR

,bitcoin_address,amount,date,time,time_zone,purchase_app,category,time_offset
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,8:57:58 PM,Europe/Kiev,Veribet,NaN,2.0

In [16]:
person_df.head()

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR

In [22]:
pdf = person_df
pdf.dtypes

first_name         object
last_name          object
email              object
gender             object
suffix             object
title              object
address            object
department         object
bitcoin_address    object
company            object
ssn                object
employee_start     object
country_code       object
dtype: object

In [24]:
pdf['last_name'].head()

0    Massenhove
1         Boyce
2       Duester
3         Burtt
4      Burchett
Name: last_name, dtype: object

In [29]:
pdf[['first_name', 'last_name']].head()

  first_name   last_name
0      Weber  Massenhove
1    Grethel       Boyce
2     Wilmar     Duester
3   Marrilee       Burtt
4        Ava    Burchett

In [30]:
pdf[0:2]

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US

In [32]:
pdf[-3:]

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code
997,Padraig,Krikorian,pkrikorianrp@si.edu,M,NaN,Honorable,83616 Charing Cross Point,Legal,1FGRJ11uBZusjkjvAH3HvFLvc8oZTkiueK,"Connelly, Bartell and Dickinson",197-66-0039,2020-11-29 13:31:51,PT
998,Sharla,Beggin,sbegginrq@shop-pro.jp,F,NaN,Honorable,8557 Pleasure Park,Business Development,13riqoS73GSScYNiP76DZQjoJ3JgaWu26M,Torp-Schiller,232-45-2522,2021-02-08 19:12:31,US
999,Luigi,Golby,lgolbyrr@freewebs.com,M,NaN,NaN,64 Larry Parkway,Marketing,18UZKGyrA2JxSgjCghfyJgmm2AkzhD5iYZ,Nitzsche-Dickens,841-13-1501,2020-01-08 21:16:56,PH

In [44]:
pdf['new_column'] = pdf['gender'] + ' ' + pdf['last_name']
pdf.head()

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Massenhove
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Boyce
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Duester
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Burtt
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Burchett

In [45]:
pdf.drop('new_column', axis = 1).head() #temporary drop

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR

In [50]:
pdf.head()
pdf = pdf.drop('new_column', axis = 1) #permanent drop

KeyError: "['new_column'] not found in axis"

In [49]:
pdf.head()

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR

In [63]:
selectpdf = pdf[['first_name', 'last_name', 'department']]  #making a new datafrae by selecting columns from old one
selectpdf.head()

  first_name   last_name                department
0      Weber  Massenhove                  Services
1    Grethel       Boyce                Accounting
2     Wilmar     Duester           Human Resources
3   Marrilee       Burtt  Research and Development
4        Ava    Burchett                  Services

In [64]:
selectpdf.drop('department', axis = 1, inplace=True) #inplace lets you drop without the need to make dataframe equal to itself
selectpdf.head()

  first_name   last_name
0      Weber  Massenhove
1    Grethel       Boyce
2     Wilmar     Duester
3   Marrilee       Burtt
4        Ava    Burchett

In [61]:
#pd.read_csv??

In [70]:
pdf.head(4) #4 rows selected to be viewed
byeindexdf = pd.read_csv('EXAM_DATA_COMPANY.csv', index_col=0) #gets rid of index and makes first row the index
byeindexdf.head()

,company,market_cap,industry,state,country,country_code,stock_symbol,time_zone
address,,,,,,,,
74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai
876 Golf Course Junction,"Littel, Rau and Kuhlman",NaN,Department/Specialty Retail Stores,OAX,Mexico,MX,SHLDW,America/Mexico_City
913 Ludington Parkway,Becker-Macejkovic,NaN,NaN,NaN,China,CN,FRCF,Asia/Harbin

In [80]:
renamedf = byeindexdf.rename(columns = {'company':' business ', 'market_cap': ' profit '}) #changing columns
renamedf.head()

,business,profit,industry,state,country,country_code,stock_symbol,time_zone
address,,,,,,,,
74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai
876 Golf Course Junction,"Littel, Rau and Kuhlman",NaN,Department/Specialty Retail Stores,OAX,Mexico,MX,SHLDW,America/Mexico_City
913 Ludington Parkway,Becker-Macejkovic,NaN,NaN,NaN,China,CN,FRCF,Asia/Harbin

In [81]:
renamedf.columns #showing the different column titles, helps show if there is random spaces in column titles

Index([' business ', ' profit ', 'industry', 'state', 'country',
       'country_code', 'stock_symbol', 'time_zone'],
      dtype='object')

In [83]:
renamedf = renamedf.rename(mapper=str.strip, axis = 1) #gets rid of white spaces on columns, must make variable equal to itself or you could use inplace equals true
renamedf.columns

Index(['business', 'profit', 'industry', 'state', 'country', 'country_code',
       'stock_symbol', 'time_zone'],
      dtype='object')

In [84]:
cols = list(renamedf.columns) #making list from column names

['business',
 'profit',
 'industry',
 'state',
 'country',
 'country_code',
 'stock_symbol',
 'time_zone']

In [85]:
uppercols = [x.upper().strip() for x in cols] #list comprehension to turn to upper case
uppercols

['BUSINESS',
 'PROFIT',
 'INDUSTRY',
 'STATE',
 'COUNTRY',
 'COUNTRY_CODE',
 'STOCK_SYMBOL',
 'TIME_ZONE']

In [87]:
renamedf.columns = uppercols #placing uppercase words in the dataframe
renamedf.head(3)

,BUSINESS,PROFIT,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
address,,,,,,,,
74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai

In [88]:
type(pdf) #whether pdf is a dataframe or a series

pandas.core.frame.DataFrame

In [89]:
len(pdf) #how many rows including column name row

1000

In [92]:
pdf.tail(2)

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code
998,Sharla,Beggin,sbegginrq@shop-pro.jp,F,NaN,Honorable,8557 Pleasure Park,Business Development,13riqoS73GSScYNiP76DZQjoJ3JgaWu26M,Torp-Schiller,232-45-2522,2021-02-08 19:12:31,US
999,Luigi,Golby,lgolbyrr@freewebs.com,M,NaN,NaN,64 Larry Parkway,Marketing,18UZKGyrA2JxSgjCghfyJgmm2AkzhD5iYZ,Nitzsche-Dickens,841-13-1501,2020-01-08 21:16:56,PH

In [123]:
person_df
pdf.drop(['title'], axis  =1)

pdf.where(pdf['department'] == 'Services').dropna()  #drop na
pdf.head()
pdf[pdf['department'] == 'Services'].head() #getting services from department

,first_name,last_name,email,gender,suffix,title,address,department,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR
40,Zaria,Valencia,zvalencia14@amazon.de,F,III,Rev,47068 Waxwing Parkway,Services,Harber Group,830-84-0117,2020-12-24 05:29:55,KH
73,Maggy,Popplestone,mpopplestone21@about.com,F,NaN,Ms,26651 Swallow Point,Services,Hackett-Smitham,407-58-8837,2020-06-07 01:57:42,JP
75,Arlinda,Sabatier,asabatier23@telegraph.co.uk,F,Sr,Ms,9317 Superior Trail,Services,Dooley-Kessler,448-05-9245,2020-07-28 01:55:16,US

In [155]:
newpdf = person_df
import re
for row in newpdf['email']:
    pattern = '.+@.+\.com'
    results = re.findall(pattern, row)
    if results:
        #print(results)

SyntaxError: unexpected EOF while parsing (<ipython-input-155-e5ce6b031b24>, line 9)

In [156]:
newpdf.head()

,,department,email,gender,suffix,title,address,bitcoin_address,company,ssn,employee_start,country_code,new_column
first_name,last_name,,,,,,,,,,,,
Weber,Massenhove,Services,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Massenhove
Grethel,Boyce,Accounting,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Boyce
Wilmar,Duester,Human Resources,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Duester
Marrilee,Burtt,Research and Development,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Burtt
Ava,Burchett,Services,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Burchett

In [157]:
newpdf = newpdf.set_index('department') #setting department to head
newpdf.head()

,email,gender,suffix,title,address,bitcoin_address,company,ssn,employee_start,country_code,new_column
department,,,,,,,,,,,
Services,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Massenhove
Accounting,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Boyce
Human Resources,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Duester
Research and Development,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Burtt
Services,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Burchett

In [158]:
newpdf = newpdf.reset_index() #rest index
newpdf.head()

,department,email,gender,suffix,title,address,bitcoin_address,company,ssn,employee_start,country_code,new_column
0,Services,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Massenhove
1,Accounting,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Boyce
2,Human Resources,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Duester
3,Research and Development,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Burtt
4,Services,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Burchett

In [160]:

newpdf.head()

,department,email,gender,suffix,title,address,bitcoin_address,company,ssn,employee_start,country_code,new_column
0,Services,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,1Ken4CZmWgkghXJzCjHndpmEUMDtXPnUNp,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID,M Massenhove
1,Accounting,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,18c1EisbFW7PrRyXoZcztY2oRUuUcnJ2hK,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US,F Boyce
2,Human Resources,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,1DuQgLuydME3HtXrYtDm6xk8agNqozhzs9,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US,M Duester
3,Research and Development,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,12jmLByL7ngA6TLpRPNAtuh7Src7LGhiKn,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT,F Burtt
4,Services,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,1FDyhoQmmcrHXCcWD4cMy7VJCankW1K9R3,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR,F Burchett

In [165]:
indexpdf = pdf
indexpdf.head()

,first_name,last_name,email,gender,suffix,title,address,department,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR

In [166]:
indexpdf = indexpdf.set_index(['first_name', 'last_name']) #making index first name and last name
indexpdf.head()

,,email,gender,suffix,title,address,department,company,ssn,employee_start,country_code
first_name,last_name,,,,,,,,,,
Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US
Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US
Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT
Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR

In [168]:
indexpdf = indexpdf.reset_index() #resetting index
indexpdf.head()

,first_name,last_name,email,gender,suffix,title,address,department,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
1,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,Accounting,"Boehm, VonRueden and Turner",696-71-8117,2020-09-17 01:27:03,US
2,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,Human Resources,"Harris, Abbott and O'Kon",383-85-6348,2020-10-01 01:30:20,US
3,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,Research and Development,Feeney-Gusikowski,674-80-7976,2020-12-30 18:25:52,PT
4,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,Services,"Kerluke, Langworth and Spinka",676-58-0954,2021-02-01 23:30:49,BR

In [171]:
indexpdf[(indexpdf['department'] == 'Services') & (indexpdf['country_code'] == 'ID')] #mask getting those that fit both parameters

,first_name,last_name,email,gender,suffix,title,address,department,company,ssn,employee_start,country_code
0,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,Services,"Lehner, Willms and McClure",527-63-1710,2021-02-02 03:48:49,ID
228,Kimble,L'Episcopio,klepiscopio6c@npr.org,M,NaN,Ms,462 Buell Junction,Services,Donnelly and Sons,521-51-3095,2020-01-20 01:06:10,ID
399,Eadmund,Champkin,echampkinb3@soundcloud.com,M,II,Dr,3 Ridge Oak Trail,Services,Breitenberg-Quigley,225-65-8817,2020-01-03 02:00:32,ID
546,Lance,Carlill,lcarlillf6@liveinternet.ru,M,NaN,Mrs,6 Ludington Circle,Services,"Considine, Kshlerin and Monahan",809-66-0226,2020-09-23 21:39:28,ID
641,Keen,Rotherforth,krotherforthht@loc.gov,M,NaN,Ms,446 Rowland Road,Services,"Reilly, Lind and Frami",402-84-5417,2020-06-01 03:50:21,ID

In [175]:
indexpdf[(indexpdf['gender'] == 'M') & (indexpdf['department'] == 'Accounting')].head(3)

,first_name,last_name,email,gender,suffix,title,address,department,company,ssn,employee_start,country_code
16,Spense,Parlett,sparlettg@sogou.com,M,NaN,Mrs,97082 Pleasure Pass,Accounting,Pouros Group,481-58-4380,2021-02-14 12:15:17,JO
32,Yancey,Ingman,yingmanw@studiopress.com,M,NaN,Ms,6097 Utah Park,Accounting,Kub Inc,459-79-7753,2021-01-22 10:17:58,US
39,Winston,Obell,wobell13@godaddy.com,M,NaN,Mrs,5 Macpherson Road,Accounting,"DuBuque, Yundt and Spencer",851-91-7592,2020-01-07 21:58:51,CN

In [176]:
indexpdf = indexpdf.set_index(['company', 'department'])
indexpdf.head()

,,first_name,last_name,email,gender,suffix,title,address,ssn,employee_start,country_code
company,department,,,,,,,,,,
"Lehner, Willms and McClure",Services,Weber,Massenhove,wmassenhove0@about.com,M,NaN,Dr,98557 2nd Pass,527-63-1710,2021-02-02 03:48:49,ID
"Boehm, VonRueden and Turner",Accounting,Grethel,Boyce,gboyce1@etsy.com,F,II,Rev,7 Marcy Lane,696-71-8117,2020-09-17 01:27:03,US
"Harris, Abbott and O'Kon",Human Resources,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,383-85-6348,2020-10-01 01:30:20,US
Feeney-Gusikowski,Research and Development,Marrilee,Burtt,mburtt3@nps.gov,F,Sr,NaN,074 Elgar Point,674-80-7976,2020-12-30 18:25:52,PT
"Kerluke, Langworth and Spinka",Services,Ava,Burchett,aburchett4@taobao.com,F,NaN,Honorable,76045 Mockingbird Crossing,676-58-0954,2021-02-01 23:30:49,BR

In [178]:
indexpdf.loc[("Harris, Abbott and O'Kon", 'Human Resources')] #locking on label from index

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

,,first_name,last_name,email,gender,suffix,title,address,ssn,employee_start,country_code
company,department,,,,,,,,,,
"Harris, Abbott and O'Kon",Human Resources,Wilmar,Duester,wduester2@deliciousdays.com,M,NaN,Honorable,57666 Stoughton Court,383-85-6348,2020-10-01 01:30:20,US

In [179]:
indexpdf.iloc[0] #locking on information from first row

first_name                         Weber
last_name                     Massenhove
email             wmassenhove0@about.com
gender                                 M
suffix                               NaN
title                                 Dr
address                   98557 2nd Pass
ssn                          527-63-1710
employee_start       2021-02-02 03:48:49
country_code                          ID
Name: (Lehner, Willms and McClure, Services), dtype: object

In [180]:
indexpdf.iloc[0]['first_name'] #locing on information from first row and getting firstname

'Weber'

In [183]:
qpdf = transact_df
qpdf.head()

,bitcoin_address,amount,date,time,time_zone,purchase_app,category,time_offset
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
1,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,"€2019,11",28-Dec-2020,9:43:06 PM,Asia/Shanghai,Treeflex,NaN,-3.0
2,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,"€9984,66",26-Nov-2020,5:56:19 PM,Asia/Harbin,Konklab,Industrial,4.0
3,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,"€5709,95",03-Jun-2020,7:38:22 PM,Asia/Tehran,Otcom,Beauty,-4.0
4,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,£5149.41,18-Sep-2020,8:57:58 PM,Europe/Kiev,Veribet,NaN,2.0

In [186]:
qpdf['purchase_app'].head()

0        Stim
1    Treeflex
2     Konklab
3       Otcom
4     Veribet
Name: purchase_app, dtype: object

In [212]:
qpdf = qpdf.set_index('bitcoin_address')
qpdf.loc['13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A']

,amount,date,time,time_zone,purchase_app,category,time_offset
bitcoin_address,,,,,,,
13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,$7120.29,30-May-2020,3:30:54 AM,Asia/Chongqing,Span,Industrial,2.0

In [220]:
locpdf = pdf
locpdf
locpdf = locpdf.set_index(['first_name', 'last_name'])
#locpdf.head()
#type(locpdf.loc[('Annie', 'Janway')])
locpdf.loc['Annie']
#type(locpdf.loc['Annie'])

,email,gender,suffix,title,address,department,company,ssn,employee_start,country_code
last_name,,,,,,,,,,
Musslewhite,amusslewhitebo@bluehost.com,F,NaN,Honorable,1 Clyde Gallagher Drive,Sales,"Schumm, Deckow and Padberg",315-71-7188,2020-02-04 06:08:51,US
Janway,ajanwayn9@plala.or.jp,F,NaN,NaN,38 Holy Cross Pass,Research and Development,"Baumbach, Schaden and Robel",809-20-9992,2021-02-10 14:39:56,DO

In [224]:
locpdf.loc[('Annie', 'Janway'), 'department'] #gets department from series

'Research and Development'

In [225]:
locpdf.loc[('Annie', 'Janway'), ['department']] #series for annie and department

department    Research and Development
Name: (Annie, Janway), dtype: object

In [226]:
locpdf.loc['Annie', 'department'] #series for annie and department

last_name
Musslewhite                       Sales
Janway         Research and Development
Name: department, dtype: object

In [227]:
locpdf.loc['Annie', ['department']] #creates dateframe for annie and department

                           department
last_name
Musslewhite                     Sales
Janway       Research and Development

In [228]:
locpdf.loc['Annie', ['department', 'address']] #dataframe with department and address

                           department                  address
last_name
Musslewhite                     Sales  1 Clyde Gallagher Drive
Janway       Research and Development       38 Holy Cross Pass

In [231]:
ilocdf = company_df
ilocdf.head(3)

,address,company,market_cap,industry,state,country,country_code,stock_symbol,time_zone
0,74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
1,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
2,34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai

In [232]:
ilocdf.iloc[0 , 2] #row 3 column 2 (index style)

'$3.32B'

In [233]:
ilocdf.iloc[0:2, 1:3] #row 0 and 1 and column 1 and 2

                          company market_cap
0                 Botsford-Dooley     $3.32B
1  Buckridge, Conroy and Nitzsche    $93.98M

In [235]:
indexdf = company_df
indexdf.columns

Index(['address', 'company', 'market_cap', 'industry', 'state', 'country',
       'country_code', 'stock_symbol', 'time_zone'],
      dtype='object')

In [236]:
indexdf.columns = [x.upper().strip() for x in indexdf.columns] #way easier to just make list comprehension equal to indexdf.columns
indexdf.head()

,ADDRESS,COMPANY,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
0,74409 La Follette Hill,Botsford-Dooley,$3.32B,Oil Refining/Marketing,NaN,Taiwan,TW,BCO,Asia/Taipei
1,4 Kropf Crossing,"Buckridge, Conroy and Nitzsche",$93.98M,Major Pharmaceuticals,NY,United States,US,CTIC,America/New_York
2,34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai
3,876 Golf Course Junction,"Littel, Rau and Kuhlman",NaN,Department/Specialty Retail Stores,OAX,Mexico,MX,SHLDW,America/Mexico_City
4,913 Ludington Parkway,Becker-Macejkovic,NaN,NaN,NaN,China,CN,FRCF,Asia/Harbin

In [238]:
indexmask = indexdf[indexdf['INDUSTRY'] == 'Medical/Dental Instruments']
indexmask.head()

,ADDRESS,COMPANY,MARKET_CAP,INDUSTRY,STATE,COUNTRY,COUNTRY_CODE,STOCK_SYMBOL,TIME_ZONE
2,34952 Badeau Street,"Hegmann, Emmerich and O'Connell",$34.63M,Medical/Dental Instruments,NaN,China,CN,MGCD,Asia/Shanghai
64,50 Grim Court,Crist Inc,$3.34B,Medical/Dental Instruments,16,Netherlands,NL,ICUI,Europe/Amsterdam
106,955 Coleman Trail,"Cartwright, Ledner and Von",$8.33M,Medical/Dental Instruments,MOR,Mexico,MX,DCTH,America/Mexico_City

In [239]:
transact_df.dtypes
#indextransact = transact_df[transact_df['']]

bitcoin_address     object
amount              object
date                object
time                object
time_zone           object
purchase_app        object
category            object
time_offset        float64
dtype: object

In [241]:
indextransact = transact_df[transact_df['time_offset'] > 5] #getting times greater than 5
indextransact.head()

,bitcoin_address,amount,date,time,time_zone,purchase_app,category,time_offset
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
5,1LEF7hCLDDjRJ4K65h4FnEaYZyepbM7dta,$8248.19,03-Mar-2021,NaN,Europe/Athens,Zamit,Industrial,11.0
6,1FGcQ9YhRWH8SKGnxp55PzgmYqKZPC9j9A,£614.72,05-Jun-2020,10:38:35 PM,Europe/Warsaw,Andalax,Games,10.0
7,1JiCnq4Rr6DpgzuTznZ6Lek8Sbf7mqMkNa,NaN,02-Mar-2021,4:03:56 AM,Europe/Tallinn,Tampflex,Garden,11.0
8,19JHZUhKjRtcWtL91PQiBUq8ABginr3cfY,£259.63,17-Jul-2020,8:03:46 AM,Asia/Tokyo,Redhold,NaN,9.0

In [244]:
indextransact2 = transact_df.where(transact_df['time_offset'] > 5).dropna() #where is like a mask but instead of only returning what is in the mask, turns everything not in the mask to na after which you drop na
indextransact2.head()

,bitcoin_address,amount,date,time,time_zone,purchase_app,category,time_offset
0,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Stim,Music,10.0
6,1FGcQ9YhRWH8SKGnxp55PzgmYqKZPC9j9A,£614.72,05-Jun-2020,10:38:35 PM,Europe/Warsaw,Andalax,Games,10.0
21,1Hh7XmstSTxLGs2uoC7n2D4USbrT9AtfgF,¥3229.06,02-Jun-2020,10:09:33 PM,Europe/Warsaw,Subin,Electronics,10.0
24,1A5unwi9r9iQyLEVKs1mUYcDQzPjC44Ynq,$8451.84,14-Jan-2021,11:34:07 PM,Asia/Tokyo,Hatity,Grocery,9.0
29,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,£7841.76,21-Oct-2020,8:01:28 PM,America/Phoenix,Stim,Jewelery,11.0

In [246]:
indextransact3 = transact_df[(transact_df['time_offset'] > 5) & (transact_df['time_offset'] < 7)] #make sure to use paranthesis
indextransact3.head()

,bitcoin_address,amount,date,time,time_zone,purchase_app,category,time_offset
48,15pMy3TXZWHhiLqxHSADB1qtAkeEbx5Uig,$3741.37,24-Nov-2020,NaN,Asia/Kathmandu,Otcom,Shoes,6.0
75,1GbfygqKFW3hU5mh58biAqQie12G5QNYX6,£2382.11,03-Oct-2020,1:40:01 AM,Asia/Yerevan,Tin,Baby,6.0
239,1MrAnuZ1RA9nRrNd41CeWMLA74hyph4Wpz,$8344.89,16-Apr-2020,12:18:04 PM,Asia/Yerevan,Fintone,Outdoors,6.0
256,15EAV2vJiLjz4746HSokoF4AnHyYyxz7ts,"€8358,92",26-Jan-2021,7:22:32 AM,Asia/Novokuznetsk,Viva,Games,6.0
309,1GKdZztf5T6qCKbwqEAPFkhWFAZy2jXw2M,"€6756,45",28-Aug-2020,7:04:53 PM,Asia/Kathmandu,Temp,Music,6.0

In [247]:
transposedf = transact_df
transposedf.T #turns columns to rows and rows to columns

,0,1,2,3,4,5,6,7,8,9,...,650,651,652,653,654,655,656,657,658,659
bitcoin_address,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,1HDSWNybswRtsFFGLFxAQrRzkvssT3NNaR,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,15mp1C8hQeZ8gU5cqT61YBevptAtsjdWZQ,1LEF7hCLDDjRJ4K65h4FnEaYZyepbM7dta,1FGcQ9YhRWH8SKGnxp55PzgmYqKZPC9j9A,1JiCnq4Rr6DpgzuTznZ6Lek8Sbf7mqMkNa,19JHZUhKjRtcWtL91PQiBUq8ABginr3cfY,14A7xJxWgMatvjzpDGBDxKwLkdEimv4T8f,...,1GnesyGWWrk3aR2GijR65Re1UnErECtNDL,1AknKkbcgUpnGULeTsrmDjCeSmNorEhQp2,16EiidiFKefVNK7NeG42S7uL39JKx7yvbu,1Py3qKx3MjeBMi5uVGg4xgnv3XFTrRCoQC,128U1g2PhYQfDHe9DoimGgnXADbkkzFLpv,1Gyf2xz1SAJmtz7H9DVHLfk72arD434SSE,12VrC5atYzdAJjzyZXQ7GxeyxCi56bZw71,1B3TDkUvRXdVmu1Nan35qVKtXuj2rY4Tr7,1JExYVkQH17mjs6y42onSSBTGELymH6GL,1Ep9iBpAqiupY3r81yAKiNpJLg4LN665ML
amount,"€8605,56","€2019,11","€9984,66","€5709,95",£5149.41,$8248.19,£614.72,NaN,£259.63,$5488.49,...,¥6561.41,£2834.96,"€1057,20",£9299.86,¥3683.45,¥1900.64,"€238,15",¥6550.33,£1379.11,¥102.83
date,19-Oct-2020,28-Dec-2020,26-Nov-2020,03-Jun-2020,18-Sep-2020,03-Mar-2021,05-Jun-2020,02-Mar-2021,17-Jul-2020,26-Apr-2020,...,12-Sep-2020,16-Mar-2020,14-Aug-2020,26-Apr-2020,30-Apr-2020,03-Dec-2020,07-Oct-2020,16-Oct-2020,15-Oct-2020,31-Aug-2020
time,11:12:56 PM,9:43:06 PM,5:56:19 PM,7:38:22 PM,8:57:58 PM,NaN,10:38:35 PM,4:03:56 AM,8:03:46 AM,8:40:55 PM,...,10:18:14 PM,2:04:34 AM,NaN,9:42:57 AM,4:24:08 AM,7:45:30 AM,11:31:51 AM,12:34:44 AM,NaN,6:10:40 PM
time_zone,Europe/Warsaw,Asia/Shanghai,Asia/Harbin,Asia/Tehran,Europe/Kiev,Europe/Athens,Europe/Warsaw,Europe/Tallinn,Asia/Tokyo,Asia/Chongqing,...,America/Rio_Branco,Asia/Manila,Asia/Jakarta,America/Los_Angeles,Asia/Chongqing,Africa/Blantyre,Asia/Kuala_Lumpur,Europe/Lisbon,Asia/Chongqing,Europe/Za
purchase_app,Stim,Treeflex,Konklab,Otcom,Veribet,Zamit,Andalax,Tampflex,Redhold,Mat Lam Tam,...,Sub-Ex,Bamity,Latlux,Sonsing,Asoka,Veribet,Treeflex,Lotlux,Mat Lam Tam,NaN
category,Music,NaN,Industrial,Beauty,NaN,Industrial,Games,Garden,NaN,Books,...,Grocery,Shoes,Sports,Home,Health,Beauty,Garden,Industrial,Electronics,NaN
time_offset,10,-3,4,-4,2,11,10,11,9,2,...,4,-6,10,-3,2,9,-3,2,2,NaN

In [250]:
multidf = person_df
multidf['department'].unique() #looking at unique names in department

array(['Services', 'Accounting', 'Human Resources',
       'Research and Development', 'Legal', 'Support', 'Training',
       'Sales', 'Engineering', 'Business Development',
       'Product Management', 'Marketing'], dtype=object)

In [252]:
multidf[multidf['department'] == 'Sales'].head(2) #grabbing information when department is sales

,first_name,last_name,email,gender,suffix,title,address,department,bitcoin_address,company,ssn,employee_start,country_code,new_column
11,Alonso,Fitchen,afitchenb@nba.com,M,NaN,NaN,05 Mandrake Parkway,Sales,1C68HJM7YwumejWCsjeoADN973qxHNUEWH,"Abernathy, Emard and Senger",253-43-8746,2020-05-28 14:34:45,PT,M Fitchen
46,Hermy,Manus,hmanus1a@tumblr.com,M,NaN,Dr,8 Maryland Pass,Sales,1JgRb8Lex1wnQ3eXZc8LE18XnvNu2LSyLj,Upton Inc,785-08-0371,2020-09-01 12:38:47,US,M Manus

In [253]:
person_df = person_df.drop('new_column', axis = 1)

In [255]:
multidf2 = person_df.set_index(['department', 'company'])
multidf2.loc[('Sales', 'Upton Inc')] #indexing both department and company

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.

,,first_name,last_name,email,gender,suffix,title,address,bitcoin_address,ssn,employee_start,country_code
department,company,,,,,,,,,,,
Sales,Upton Inc,Hermy,Manus,hmanus1a@tumblr.com,M,NaN,Dr,8 Maryland Pass,1JgRb8Lex1wnQ3eXZc8LE18XnvNu2LSyLj,785-08-0371,2020-09-01 12:38:47,US

In [256]:
multidf2.loc[('Sales', 'Upton Inc')]['email'] #getting email

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

department  company
Sales       Upton Inc    hmanus1a@tumblr.com
Name: email, dtype: object

In [257]:
transact_df.columns

Index(['bitcoin_address', 'amount', 'date', 'time', 'time_zone',
       'purchase_app', 'category', 'time_offset'],
      dtype='object')

In [268]:
multitrans = transact_df
multitrans
#multitrans = multitrans.set_index('purchase_app')
multitrans.loc['Stim'].sort_values('time_offset', ascending = False) #index label Stim sorting values by time_offset, ascending False making largest to smallest

,bitcoin_address,amount,date,time,time_zone,category,time_offset
purchase_app,,,,,,,
Stim,12kiq1UUw6aBgnGZBMFZaW7hDbH51uA4A6,£7841.76,21-Oct-2020,8:01:28 PM,America/Phoenix,Jewelery,11.0
Stim,13q3QxRNsksDNdVhRJnQMb8WLxnH2RqW4A,"€8605,56",19-Oct-2020,11:12:56 PM,Europe/Warsaw,Music,10.0
Stim,1HCUqhWM2owSnwGxpDHTZqLvor8CYZzEYn,¥9506.19,29-Jan-2021,NaN,Europe/Warsaw,Kids,10.0
Stim,18UZKGyrA2JxSgjCghfyJgmm2AkzhD5iYZ,¥4685.26,03-Jun-2020,9:18:06 PM,Asia/Chongqing,Automotive,2.0
Stim,1EXyq8wdLhZcDECocKDGZ7aCq6RmETeYJb,£2984.91,22-Jan-2021,2:46:19 PM,America/Lima,Jewelery,-1.0
Stim,1B9rWdX9kBgXa6vVP3SGduyZR7CxyYjsno,¥9461.72,25-Oct-2020,11:31:06 PM,America/Lima,Tools,-1.0
Stim,1MrAnuZ1RA9nRrNd41CeWMLA74hyph4Wpz,$9867.16,16-Aug-2020,4:42:26 AM,America/Lima,Outdoors,-1.0
Stim,13Ledy6KT2rVTqwEJXQL9cNeDXnhcDhvbS,"€8468,76",03-Nov-2020,11:40:30 PM,Asia/Shanghai,Jewelery,-3.0
Stim,168hfvFT8oyqhmzTYp5G3oStApPK1qudjg,£661.62,20-Jun-2020,6:22:25 PM,Asia/Shanghai,NaN,-3.0
Stim,1Eyu1aw76p4m8k48uUs5cvkqaPyvfHPsQi,$9583.77,08-Sep-2020,12:05:47 AM,America/Costa_Rica,Garden,-4.0
Stim,1FsYEber3L11W7UWSrtbGrzNuzTxt9xQa8,"€6504,66",17-Nov-2020,10:53:52 AM,Europe/Luxembourg,Computers,-4.0